[Unit]
Description=PostgreSQL Database for Flightctl

[Container]
ContainerName=flightctl-db
Environment=POSTGRESQL_DATABASE=flightctl POSTGRESQL_USER=demouser POSTGRESQL_PASSWORD=demopass POSTGRESQL_MASTER_USER=admin POSTGRESQL_MASTER_PASSWORD=adminpass PGPASSWORD=adminpass
Image=quay.io/sclorg/postgresql-12-c8s:latest
Network=standalone.network
PublishPort=5432:5432
Volume=flightctl-db:/var/lib/pgsql/data

[Service]
Restart=always
RestartSec=30
