{{- if .Values.telemetryGateway }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: flightctl-telemetry-gateway-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "flightctl.standardLabels" . | nindent 4 }}
    flightctl.service: flightctl-telemetry-gateway
data:
  config.yaml: |-
    database:
        hostname: {{ include "flightctl.dbHostname" . }}
        type: "pgsql"
        port: {{ include "flightctl.dbPort" . | int }}
        name: {{ .Values.db.name }}
        {{- if eq .Values.db.type "external" }}
        {{- if .Values.db.external.sslmode }}
        sslmode: {{ .Values.db.external.sslmode | quote }}
        {{- end }}
        {{- if .Values.db.external.tlsConfigMapName }}
        sslrootcert: /etc/ssl/postgres/ca-cert.pem
        {{- end }}
        {{- if .Values.db.external.tlsSecretName }}
        sslkey: /etc/ssl/postgres/client-key.pem
        sslcert: /etc/ssl/postgres/client-cert.pem
        {{- end }}
        {{- end }}
    service: {}
    kv:
        hostname: flightctl-kv.{{ default .Release.Namespace .Values.global.internalNamespace }}.svc.cluster.local
        port: 6379
    {{- with .Values.telemetryGateway.config }}
    telemetryGateway:
    {{- toYaml . | nindent 8 }}
    {{- end }}

    {{- if .Values.global.tracing }}
    tracing:
        enabled: true
        endpoint: {{ .Values.global.tracing.endpoint }}
        insecure: {{ .Values.global.tracing.insecure }}
    {{ end }}
{{- end }}

