/bin/
/rpmbuild/
/.vscode/
/.idea/
/reports/
test/e2e/cli/*.crt
test/e2e/cli/*.key
/packaging/rpm/flightctl-*.tar.gz
/packaging/rpm/flightctl-*-build/
/packaging/rpm/flightctl-*-vendor.tar.bz2
flightctl-*.rpm
*.tar
