# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/docs/ @fzdarsky @avishayt @hexfusion 

/api/ @fzdarsky @avishayt @hexfusion 

/internal/agent/ @fzdarsky @avishayt @hexfusion

CODEOWNERS @fzdarsky @avishayt @hexfusion
