[Unit]
Description=Initialize Flight Control PAM OIDC Issuer configuration
PartOf=flightctl.target
After=flightctl-db-wait.service

[Container]
ContainerName=flightctl-pam-issuer-init
Image=registry.access.redhat.com/ubi9/ubi-minimal:latest
Exec=/config-source/init.sh
PodmanArgs=--replace
Network=flightctl.network
Volume=/etc/flightctl/flightctl-pam-issuer/config:/config-destination:rw,z
Volume=/etc/flightctl/flightctl-pam-issuer-config:/config-source:ro,z
Volume=/etc/flightctl/pki:/certs:rw,z
Volume=/etc/flightctl/init-utils:/utils:ro,z
Volume=/etc/flightctl/service-config.yaml:/service-config.yaml:ro,z

[Service]
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=flightctl.target

