[Unit]
Description=Initialize Flight Control PAM OIDC Issuer configuration
PartOf=flightctl.target

[Container]
ContainerName=flightctl-pam-issuer-init
Image=quay.io/flightctl/flightctl-pam-issuer:latest
PodmanArgs=--replace
Network=flightctl.network
Volume=/usr/share/flightctl/flightctl-pam-issuer/config.yaml.template:/app/templates/config.yaml.template:ro,z
Volume=/etc/flightctl/flightctl-pam-issuer:/app/rendered:rw,z
Volume=/etc/flightctl/service-config.yaml:/app/service-config.yaml:ro,z

Exec=/app/flightctl-service-setup

[Service]
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=flightctl.target
