[Unit]
Description=Flight Control Alertmanager Proxy init service
PartOf=flightctl.target
After=flightctl-alertmanager.service
Wants=flightctl-alertmanager.service

[Container]
Image=quay.io/flightctl/flightctl-alertmanager-proxy:latest
ContainerName=flightctl-alertmanager-proxy-init
Network=flightctl.network
Volume=/etc/flightctl/service-config.yaml:/app/service-config.yaml:ro,z
Volume=/usr/share/flightctl/flightctl-alertmanager-proxy/env.template:/app/templates/env.template:ro,z
Volume=/etc/flightctl/flightctl-alertmanager-proxy:/app/rendered:rw,z
Exec=/app/flightctl-service-setup

[Service]
Type=oneshot
RemainAfterExit=true
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=flightctl.target
