[Unit]
Description=Flight Control Alertmanager Proxy init service
PartOf=flightctl.target
After=flightctl-alertmanager.service
Wants=flightctl-alertmanager.service

[Container]
Image=registry.access.redhat.com/ubi9/ubi-minimal
ContainerName=flightctl-alertmanager-proxy-init
Network=flightctl.network
Volume=/usr/share/flightctl/flightctl-alertmanager-proxy:/config-source:ro,z
Volume=/usr/share/flightctl/init_utils.sh:/utils/init_utils.sh:ro,z
Volume=/etc/flightctl/flightctl-alertmanager-proxy:/config-destination:rw,z
Volume=/etc/flightctl/service-config.yaml:/service-config.yaml:ro,z
Exec=/bin/sh /config-source/init.sh

[Service]
Type=oneshot
RemainAfterExit=true
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=flightctl.target
