apiVersion: v1
kind: ConfigMap
metadata:
  name: flightctl-api-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "flightctl.standardLabels" . | nindent 4 }}
    flightctl.service: flightctl-api
data:
  config.yaml: |-
    database:
        hostname: {{ include "flightctl.dbHostname" . }}
        type: "pgsql"
        port: {{ include "flightctl.dbPort" . | int }}
        name: {{ .Values.db.name }}
        {{- if eq .Values.db.type "external" }}
        {{- if .Values.db.external.sslmode }}
        sslmode: {{ .Values.db.external.sslmode | quote }}
        {{- end }}
        {{- if .Values.db.external.tlsConfigMapName }}
        sslrootcert: /etc/ssl/postgres/ca-cert.pem
        {{- end }}
        {{- if .Values.db.external.tlsSecretName }}
        sslkey: /etc/ssl/postgres/client-key.pem
        sslcert: /etc/ssl/postgres/client-cert.pem
        {{- end }}
        {{- end }}
    service:
        address: :3443
        agentEndpointAddress: :7443
        httpReadTimeout: {{ .Values.api.httpReadTimeout | default "5m" | quote }}
        httpReadHeaderTimeout: {{ .Values.api.httpReadHeaderTimeout | default "5m" | quote }}
        httpWriteTimeout: {{ .Values.api.httpWriteTimeout | default "5m" | quote }}
        httpMaxNumHeaders: {{ default 32 .Values.api.httpMaxNumHeaders }}
        httpMaxHeaderBytes: {{ default 33010 .Values.api.httpMaxHeaderBytes }}
        httpMaxUrlLength: {{ default 2000 .Values.api.httpMaxUrlLength }}
        httpMaxRequestSize: {{ default 53137200 .Values.api.httpMaxRequestSize }}
        {{- if eq (include "flightctl.getServiceExposeMethod" .) "nodePort" }}
        baseUrl: https://api.{{ include "flightctl.getBaseDomain" . }}:{{ .Values.dev.nodePorts.api }}/
        baseAgentEndpointUrl: https://agent-api.{{ include "flightctl.getBaseDomain" . }}:{{ .Values.dev.nodePorts.agent }}/
        {{- else if and (eq (include "flightctl.getServiceExposeMethod" .) "gateway") (not (eq (int .Values.global.gateway.ports.tls) 443)) }}
        baseUrl: https://api.{{ include "flightctl.getBaseDomain" . }}:{{ .Values.global.gateway.ports.tls }}/
        baseAgentEndpointUrl: https://agent-api.{{ include "flightctl.getBaseDomain" . }}:{{ .Values.global.gateway.ports.tls }}/
        {{- else }}
        baseUrl: https://api.{{ include "flightctl.getBaseDomain" . }}/
        baseAgentEndpointUrl: https://agent-api.{{ include "flightctl.getBaseDomain" . }}/
        {{- end }}
        baseUIUrl: {{ include "flightctl.getUIUrl" . }}
        altNames:
          - api.{{ include "flightctl.getBaseDomain" . }}
          - agent-api.{{ include "flightctl.getBaseDomain" . }}
          - flightctl-api
          - flightctl-api.{{ .Release.Namespace }}
          - flightctl-api.{{ .Release.Namespace }}.svc.cluster.local
        {{ if and .Values.api.rateLimit (not (empty .Values.api.rateLimit)) }}
        rateLimit:
            enabled: {{ .Values.api.rateLimit.enabled }}
            requests: {{ .Values.api.rateLimit.requests }}
            window: {{ .Values.api.rateLimit.window }}
            authRequests: {{ .Values.api.rateLimit.authRequests }}
            authWindow: {{ .Values.api.rateLimit.authWindow }}
            {{- if .Values.api.rateLimit.trustedProxies }}
            trustedProxies:
            {{- range .Values.api.rateLimit.trustedProxies }}
                - {{ . | quote }}
            {{- end }}
            {{- end }}
        {{ end }}
    kv:
        hostname: flightctl-kv.{{ default .Release.Namespace .Values.global.internalNamespace }}.svc.cluster.local
        port: 6379
    {{- $effectiveAuthType := include "flightctl.getEffectiveAuthType" . }}
    {{- if not (eq $effectiveAuthType "none")  }}
    auth:
        insecureSkipTlsVerify: {{ .Values.global.auth.insecureSkipTlsVerify }}
        caCert: {{ ((.Values.global).auth).caCert | quote }}
        {{- if eq $effectiveAuthType "k8s"  }}
        k8s:
            apiUrl: {{ .Values.global.auth.k8s.apiUrl }}
            rbacNs: {{ default .Release.Namespace .Values.global.auth.k8s.rbacNs }}
            roleSuffix: {{ .Release.Namespace }}
        {{- else if eq $effectiveAuthType "openshift" }}
        openshift:
            clusterControlPlaneUrl: {{ default "https://kubernetes.default.svc" .Values.global.auth.openshift.clusterControlPlaneUrl }}
            authorizationUrl: {{ include "flightctl.getOpenShiftOAuthAuthorizationUrl" . }}
            tokenUrl: {{ include "flightctl.getOpenShiftOAuthTokenUrl" . }}
            issuer: {{ include "flightctl.getOpenShiftOAuthIssuer" . }}
            clientId: {{ include "flightctl.getOpenShiftOAuthClientId" . }}
            clientSecret: {{ include "flightctl.getOpenShiftOAuthClientSecret" . }}
            projectLabelFilter: {{ include "flightctl.getOpenShiftProjectLabelFilter" . | quote }}
            roleSuffix: {{ .Release.Namespace }}
        {{- else if eq $effectiveAuthType "aap"}}
        aap:
          apiUrl: {{ .Values.global.auth.aap.apiUrl }}
          externalApiUrl: {{ .Values.global.auth.aap.externalApiUrl }}
        {{- else }}
        oidc:
            oidcAuthority: {{ .Values.global.auth.oidc.issuer }}
            clientId: {{ .Values.global.auth.oidc.clientId }}
            {{- if .Values.global.auth.oidc.enabled }}
            enabled: {{ .Values.global.auth.oidc.enabled }}
            {{- end }}
            issuer: {{ .Values.global.auth.oidc.issuer }}
            externalOidcAuthority: {{ include "flightctl.getOidcAuthorityUrl" . }}
            {{- if .Values.global.auth.oidc.organizationAssignment }}
            organizationAssignment: {{ .Values.global.auth.oidc.organizationAssignment | toYaml | nindent 12 }}
            {{- end }}
            {{- if .Values.global.auth.oidc.usernameClaim }}
            usernameClaim: {{- toYaml .Values.global.auth.oidc.usernameClaim | nindent 12 }}
            {{- end }}
            {{- if .Values.global.auth.oidc.roleAssignment }}
            roleAssignment: {{- toYaml .Values.global.auth.oidc.roleAssignment | nindent 12 }}
            {{- end }}
        {{- end }}
    {{ end }}
    organizations:
        enabled: true
    metrics:
        enabled: true
        address: ":15690"
        systemCollector:
            enabled: true
            tickerInterval: 5s
        httpCollector:
            enabled: true
        deviceCollector:
            enabled: true
            tickerInterval: 30s
            groupByFleet: true
        fleetCollector:
            enabled: true
            tickerInterval: 30s
        repositoryCollector:
            enabled: true
            tickerInterval: 30s
        resourceSyncCollector:
            enabled: true
            tickerInterval: 30s
    {{ if (default dict .Values.dev).tracing }}
    tracing:
        enabled: true
        endpoint: {{ .Values.dev.tracing.endpoint }}
        insecure: {{ .Values.dev.tracing.insecure }}
    {{ end }}
