apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    {{- include "flightctl.standardLabels" . | nindent 4 }}
    flightctl.service: flightctl-api
  name: flightctl-api
  namespace: {{ .Release.Namespace }}
