[Unit]
Description=Rabbit MQ service for FlightCtl

[Container]
ContainerName=flightctl-mq
Image=docker.io/library/rabbitmq:3.13-management
PublishPort=5672:5672
PublishPort=15672:15672
Environment=RABBITMQ_DEFAULT_USER=user
Environment=RABBITMQ_DEFAULT_PASS=password
# Volume Mount for Persistent Data
Volume=rabbitmq-data:/var/lib/rabbitmq/mnesia

[Service]
Restart=always
RestartSec=30
