global:
  auth:
    type: "none"
    internalOidcAuthority: http://keycloak.flightctl-external.svc.cluster.local:8081/realms/flightctl
  internalNamespace: flightctl-internal
  storageClassName: standard
  exposeServicesMethod: "nodePort"
  nodePorts:
    api: 3443
    agent: 7443
    grpc: 7444
    db: 5432
    kv: 6379
    keycloak: 8081
    prometheus: 9090
    gitserver: 3222
    registry: 5000

db:
  imagePullPolicy: IfNotPresent
api:
  image:
    image:  localhost/flightctl-api
    tag: latest
    pullPolicy: IfNotPresent
  baseUIUrl: "http://localhost:9000"
worker:
  image:
    image: localhost/flightctl-worker
    tag: latest
    pullPolicy: IfNotPresent
periodic:
  image:
    image: localhost/flightctl-periodic
    pullPolicy: IfNotPresent
rabbitmq:
  image:
    image: quay.io/flightctl/docker-io-rabbitmq
    tag: 3.13-management
    pullPolicy: IfNotPresent
prometheus:
  enabled: true
ui:
  enabled: false

keycloak:
  realm:
    redirectUris:
      - /realms/flightctl/account/*
      - http://127.0.0.1/callback
      - http://localhost:9000
      - http://localhost:9000/callback
    webOrigins:
      - http://localhost:9000
