
## @section Global parameters
## @descriptionStart This section contains parameters common to all the
## components in the deployment, including sub-charts, ui charts, etc.
## @descriptionEnd

## @param global.target The type of Flightctl to deploy - either 'standalone' or 'acm'.
## @param global.baseDomain Base domain to construct the FQDN for the service endpoints.
## @param.global.baseDomainTls.cert Certificate for the base domain wildcard certificate, it should be valid for *.${baseDomain}. This certificate is only used for non mTLS endpoints, mTLS endpoints like agent-api, etc will use different certificates.
## @param.global.baseDomainTls.key Key for the base domain wildcard certificate.
## @param global.storageClassName Storage class name for the PVCs.
## @param global.auth.type Type of the auth to use. Can be one of 'builtin', 'k8s', 'oidc', or 'none'
## @param global.auth.caCert The custom CA cert.
## @param global.auth.insecureSkipTlsVerify True if verification of authority TLS cert should be skipped.
## @param global.auth.k8s.apiUrl API URL of k8s cluster that will be used as authentication authority
## @param global.auth.k8s.externalOpenShiftApiUrl API URL of OpenShift cluster that can be accessed by external client to retrieve auth token
## @param global.apiUrl is an alternative to global.auth.k8s.externalOpenShiftApiUrl with the same meaning, used by the multiclusterhub operator
## @param global.auth.k8s.externalApiToken In case flightctl is not running within a cluster, you can provide api token
## @param global.auth.k8s.rbacNs Namespace that should be used for the RBAC checks
## @param global.auth.oidc.oidcAuthority The base URL for the Keycloak realm that is reachable by flightctl services. Example: https://keycloak.foo.internal/realms/flightctl
## @param global.auth.oidc.externalOidcAuthority The base URL for the Keycloak realm that is reachable by clients. Example: https://keycloak.foo.net/realms/flightctl
## @param global.metrics.enabled Enable metrics exporting and service
## @param global.timestamp Timestamp to be used to trigger a new deployment, i.e. if you want pods to be restarted and pickup ":latest"
## @param global.internalNamespace Namespace where internal components are deployed
## @param global.clusterLevelSecretAccess Allow flightctl-worker to access secrets at the cluster level for embedding in device configs
## @param global.appCode This is only related to deployment in Red Hat's PAAS.
## @param global.exposeServicesMethod How the FCTL services should be exposed. Can be either nodePort or route
## @param global.nodePorts Node port numbers for FCTL services

global:
  target: "standalone" # standalone, acm
  baseDomain: ""
  baseDomainTls:
    cert: ""
    key: ""
  storageClassName: ""
  imagePullSecretName: ""
  apiUrl: "" # alternative to global.auth.k8s.externalOpenShiftApiUrl used by multiclusterhub operator
  auth:
    type: "builtin" # builtin, k8s, oidc, none
    caCert: ""
    insecureSkipTlsVerify: false
    k8s:
      apiUrl: https://kubernetes.default.svc
      externalOpenShiftApiUrl: ""
      externalApiToken: ""
      rbacNs: ""
    oidc:
      oidcAuthority: http://keycloak:8081/realms/flightctl
      externalOidcAuthority: ""
  metrics:
    enabled: true
  internalNamespace: ""
  clusterLevelSecretAccess: false
  appCode: ""
  exposeServicesMethod: "route" # route, nodePort, gateway
  gatewayClass: ""
  nodePorts:
    api: 3443
    agent: 7443
    grpc: 7444
    ui: 9000
    keycloak: 8081
  gatewayPorts:
    tls: 443
    http: 80


## @section Component specific parameters
## @descriptionStart This section provides individual parameters for each component
## @descriptionEnd

db:
  image:
    image: quay.io/sclorg/postgresql-12-c8s
    tag: latest
    pullPolicy: Always
  password: adminpass
  masterPassword: adminpass
  masterUser: admin
  user: demouser
  userPassword: demopass
  maxConnections: 200
  storage:
    size: "60Gi"
  ## @param db.resources the request/limit resource requests for the DB deployment pod
  resources:
    requests:
      cpu: "512m"
      memory: "512Mi"
    limits:
      cpu: "2000m"
      memory: "2Gi"

kv:
  enabled: true
  image:
    image: docker.io/redis
    tag: 7.4.1
    pullPolicy: Always
  password: adminpass
  # Save if at least 1 key changed in 5 minutes
  save: 300 1
  loglevel: warning
api:
  enabled: true
  image:
    image: quay.io/flightctl/flightctl-api
    pullPolicy: Always
    tag: ""
  agentGrpcBaseURL: "" # grpcs://agent-grpc.flightctl.example.com
  baseUIUrl: "" # ui.flightctl.example.com
worker:
  enabled: true
  image:
    image: quay.io/flightctl/flightctl-worker
    pullPolicy: Always
    tag: ""
  enableSecretsClusterRoleBinding: true
periodic:
  enabled: true
  image:
    image: quay.io/flightctl/flightctl-periodic
    tag: ""
    pullPolicy: Always
rabbitmq:
  enabled: true
  replicaCount: 1
  image:
    image: docker.io/library/rabbitmq
    tag: 3.13-management
    pullPolicy: IfNotPresent
  ports:
    amqp: 5672
    management: 15672
  persistence:
    enabled: true
    accessMode: ReadWriteOnce
    size: 10Gi
  auth:
    username: user
    password: password
  service:
    type: ClusterIP
    amqpPort: 5672
    managementPort: 15672
prometheus:
  enabled: false
ui:
  enabled: true
  api:
    insecureSkipTlsVerify: true
