global:
  auth:
    type: "none"
    oidc:
      oidcAuthority: http://keycloak.flightctl-external.svc.cluster.local:8081/realms/flightctl
  internalNamespace: flightctl-internal
  storageClassName: standard
  exposeServicesMethod: "nodePort"
  nodePorts:
    api: 3443
    agent: 7443
    db: 5432
    kv: 6379
    alertmanager: 9093
    keycloak: 8081
    prometheus: 9090
    gitserver: 3222
    registry: 5000

api:
  image:
    image:  localhost/flightctl-api
    tag: latest
  baseUIUrl: "http://localhost:9000"
cliArtifacts:
  enabled: true
  image:
    image: localhost/flightctl-cli-artifacts
    tag: latest
worker:
  image:
    image: localhost/flightctl-worker
    tag: latest
periodic:
  image:
    image: localhost/flightctl-periodic
    tag: latest
alertExporter:
  image:
    image: localhost/flightctl-alert-exporter
    tag: latest
prometheus:
  enabled: true
ui:
  enabled: false

keycloak:
  realm:
    redirectUris:
      - /realms/flightctl/account/*
      - http://127.0.0.1/callback
      - http://localhost:9000
      - http://localhost:9000/callback
    webOrigins:
      - http://localhost:9000
