[Unit]
Description=Flight Control Grafana Dashboard
After=flightctl-network.service flightctl-prometheus.service
Wants=flightctl-network.service flightctl-prometheus.service
PartOf=flightctl-observability.target

[Container]
Image=${GRAFANA_IMAGE}
Pull=missing
ContainerName=flightctl-grafana
PublishPort=${GRAFANA_PUBLISHED_PORT}:3000

# Volume for Grafana's primary data (database, compiled assets, plugins)
Volume=/var/lib/grafana:/var/lib/grafana:rw,z

# Mount custom grafana.ini file
Volume=/etc/grafana/grafana.ini:/etc/grafana/grafana.ini:ro,z

# Mount directory for data source provisioning
Volume=/etc/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources:ro,z

# Mount directory for TLS certificates (if using HTTPS)
Volume=/etc/grafana/certs:/etc/grafana/certs:ro,z

# Downstream grafana image expects this
Volume=/etc/grafana/provisioning/alerting:/etc/grafana/provisioning/alerting:ro,z

Network=flightctl

[Service]
Restart=on-failure
ExecStartPre=mkdir -p /var/lib/grafana /etc/grafana /etc/grafana/provisioning /etc/grafana/provisioning/datasources /etc/grafana/certs
ExecStartPre=/bin/sh -c 'chown -R "$(podman image inspect ${GRAFANA_IMAGE} | jq -r .[0].Config.User)" /var/lib/grafana || true'

[Install]
WantedBy=multi-user.target
