policy_module(flightctl_agent, 1.0.0)

require {
    type init_t;
    class process transition;
    class file { read open execute };
}

# Declare agent types
type flightctl_agent_t;
type flightctl_agent_exec_t;

init_daemon_domain(flightctl_agent_t, flightctl_agent_exec_t)
type flightctl_agent_var_lib_t;
files_type(flightctl_agent_var_lib_t)

# Allow systemd to transition into your agent domain
type_transition init_t flightctl_agent_exec_t:process flightctl_agent_t;
allow init_t flightctl_agent_exec_t:file { read open execute };
allow init_t flightctl_agent_t:process transition;

# Agent access to its data directory
allow flightctl_agent_t flightctl_agent_var_lib_t:dir { read write open search create getattr add_name};
allow flightctl_agent_t flightctl_agent_var_lib_t:file { read write open create getattr };

# Allow read access to /sys
dev_read_sysfs(flightctl_agent_t)

# Allow use of terminals/PTYs
term_use_all_terms(flightctl_agent_t)

# Allow connecting to unreserved TCP ports (for outgoing network communication)
corenet_tcp_connect_unreserved_ports(flightctl_agent_t)
