policy_module(flightctl_agent, 1.0.0)

type flightctl_agent_t;
type flightctl_agent_exec_t;
domain_type(flightctl_agent_t);

require {
    # Existing types from the policy
    type init_t;
    type devpts_t;
    type ptmx_t;
    type unreserved_port_t;
    
    attribute file_type;
    attribute exec_type;


    # Classes and permissions that will be used.
    class file { read execute open };
    class process transition;
    class chr_file { open read write ioctl };
    class tcp_socket { name_connect };
}

role system_r types flightctl_agent_t;

allow init_t flightctl_agent_t:process transition;
allow init_t flightctl_agent_exec_t:file { execute getattr read open };
type_transition init_t flightctl_agent_exec_t:process flightctl_agent_t;

# Allow the flightctl-agent process (running in flightctl_agent_t) to do what it needs.
allow flightctl_agent_t devpts_t:chr_file open;
allow flightctl_agent_t ptmx_t:chr_file { open read write ioctl };
allow flightctl_agent_t unreserved_port_t:tcp_socket name_connect;  