[Unit]
Description=Flight Control CLI Artifacts service
After=flightctl-cli-artifacts-init.service
Wants=flightctl-cli-artifacts-init.service
PartOf=flightctl.target

[Container]
ContainerName=flightctl-cli-artifacts
Image={{ .CliArtifacts.Image }}:{{ .CliArtifacts.Tag }}
Pull=missing
Network=flightctl.network
AddHost=%H:host-gateway
EnvironmentFile=/etc/flightctl/flightctl-cli-artifacts/env
Volume=flightctl-cli-artifacts-certs:/app/certs:ro,z
Volume=/etc/flightctl/flightctl-cli-artifacts/nginx.conf:/etc/nginx/nginx.conf:ro,z
Volume=/etc/flightctl/flightctl-cli-artifacts/nginx.conf.ipv4:/etc/nginx/nginx.conf.ipv4:ro,z
Volume=/etc/flightctl/flightctl-cli-artifacts/nginx.conf.ipv6:/etc/nginx/nginx.conf.ipv6:ro,z

PublishPort=8090:8090

[Service]
Restart=always
RestartSec=30

ExecStartPre=/usr/bin/flightctl-standalone render template --input-file /usr/share/flightctl/flightctl-cli-artifacts/env.template --output-file /etc/flightctl/flightctl-cli-artifacts/env
