[Unit]
Description=Flight Control CLI Artifacts service
PartOf=flightctl.target

[Container]
ContainerName=flightctl-cli-artifacts
Image={{ .CliArtifacts.Image }}:{{ .CliArtifacts.Tag }}
Pull=missing
Network=flightctl.network
AddHost=%H:host-gateway
EnvironmentFile=/etc/flightctl/flightctl-cli-artifacts/env

[Service]
Restart=always
RestartSec=30

ExecStartPre=/usr/bin/flightctl-standalone render template --input-file /usr/share/flightctl/flightctl-cli-artifacts/env.template --output-file /etc/flightctl/flightctl-cli-artifacts/env

[Install]
WantedBy=flightctl.target
