[Unit]
Description=Flight Control CLI Artifacts Certificates Initialization
PartOf=flightctl.target
After=flightctl-certs-init.service
Wants=flightctl-certs-init.service

[Container]
Image=registry.access.redhat.com/ubi9/ubi-minimal:9.7-1763362218
ContainerName=flightctl-cli-artifacts-init
Pull=missing
Volume=/usr/share/flightctl/init_utils.sh:/utils/init_utils.sh:ro,z
Volume=/usr/share/flightctl/flightctl-cli-artifacts/init.sh:/config-source/init.sh:ro,z
Volume=/usr/share/flightctl/flightctl-cli-artifacts:/config-source:ro,z
Volume=/etc/flightctl/flightctl-cli-artifacts:/config-destination:rw,z
Volume=/etc/flightctl/pki:/certs-source:ro,z
Volume=flightctl-cli-artifacts-certs:/certs-destination:rw,z
Exec=/bin/sh /config-source/init.sh

[Service]
Type=oneshot
RemainAfterExit=true
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=flightctl.target

