[Unit]
Description=Flight Control CLI Artifacts service
PartOf=flightctl.target

[Container]
ContainerName=flightctl-cli-artifacts
Image={{ .CliArtifacts.Image }}:{{ .CliArtifacts.Tag }}
Pull=missing
Network=flightctl.network
AddHost=%H:host-gateway
EnvironmentFile=%E/flightctl/flightctl-cli-artifacts/env

[Service]
Restart=always
RestartSec=30

ExecStartPre=/usr/bin/env PATH=%D/flightctl/bin:/usr/bin:/bin flightctl-standalone render template --config %E/flightctl/service-config.yaml --input-file %D/flightctl/flightctl-cli-artifacts/env.template --output-file %E/flightctl/flightctl-cli-artifacts/env

ExecStartPost=/bin/bash -o pipefail -c 'if podman ps --filter name=flightctl-gateway --filter status=running --quiet | grep -q .; then podman exec flightctl-gateway nginx -s reload; else [ $$? -eq 1 ]; fi'

[Install]
WantedBy=flightctl.target
