[Unit]
Description=Flight Control CLI Artifacts Configuration Templating
PartOf=flightctl.target
After=flightctl-api.service
Wants=flightctl-api.service

[Container]
ContainerName=flightctl-cli-artifacts-init
Image=quay.io/flightctl/flightctl-cli-artifacts:latest
Pull=newer

Volume=/etc/flightctl/service-config.yaml:/app/service-config.yaml:ro,z
Volume=/usr/share/flightctl/flightctl-cli-artifacts/env.template:/app/templates/env.template:ro,z
Volume=/etc/flightctl/flightctl-cli-artifacts:/app/rendered:rw,z,U

Exec=/app/flightctl-service-setup

[Service]
Type=oneshot
RemainAfterExit=true
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=flightctl.target
