CLI_ARTIFACTS_BASE_URL=https://{{ if and .Values.cliArtifacts .Values.cliArtifacts.route .Values.cliArtifacts.route.host }}{{ .cliArtifacts.route.host }}{{ else }}{{ .global.baseDomain }}:8090{{ end }}

