# mock-site-defaults.cfg

config_opts['rpmbuild_networking'] = True
config_opts['use_host_resolv'] = True
config_opts['plugin_conf']['tmpfs_enable'] = True

# --- Plugin Configuration ---
config_opts['plugin_conf']['bind_mount_enable'] = True
config_opts['plugin_conf']['bind_mount_opts']['create_dirs'] = True

# Map Go caches to standard builddir locations
config_opts['plugin_conf']['bind_mount_opts']['dirs'].append(('/root/go/pkg/mod', '/builddir/go/pkg/mod'))
config_opts['plugin_conf']['bind_mount_opts']['dirs'].append(('/root/.cache/go-build', '/builddir/.cache/go-build'))


# --- Environment Variables ---
config_opts['environment']['GOCACHE'] = '/builddir/.cache/go-build'
config_opts['environment']['GOMODCACHE'] = '/builddir/go/pkg/mod'

