{{- if .Values.alertmanagerProxy.enabled }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: flightctl-alertmanager-proxy-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "flightctl.standardLabels" . | nindent 4 }}
    flightctl.service: flightctl-alertmanager-proxy
data:
  config.yaml: |-
    database:
      hostname: {{ include "flightctl.dbHostname" . }}
      type: "pgsql"
      port: {{ include "flightctl.dbPort" . | int }}
      name: {{ .Values.db.name }}
      {{- if eq .Values.db.type "external" }}
      {{- if .Values.db.external.sslmode }}
      sslmode: {{ .Values.db.external.sslmode | quote }}
      {{- end }}
      {{- if .Values.db.external.tlsConfigMapName }}
      sslrootcert: /etc/ssl/postgres/ca-cert.pem
      {{- end }}
      {{- if .Values.db.external.tlsSecretName }}
      sslkey: /etc/ssl/postgres/client-key.pem
      sslcert: /etc/ssl/postgres/client-cert.pem
      {{- end }}
      {{- end }}
    service:
      certStore: "/app/certs"
      {{ if and .Values.api.rateLimit (not (empty .Values.api.rateLimit)) }}
      rateLimit:
          enabled: {{ .Values.api.rateLimit.enabled }}
          requests: {{ .Values.api.rateLimit.requests }}
          window: {{ .Values.api.rateLimit.window }}
          authRequests: {{ .Values.api.rateLimit.authRequests }}
          authWindow: {{ .Values.api.rateLimit.authWindow }}
          {{- if .Values.api.rateLimit.trustedProxies }}
          trustedProxies:
          {{- range .Values.api.rateLimit.trustedProxies }}
              - {{ . | quote }}
          {{- end }}
          {{- end }}
      {{ end }}
    ca:
      internalConfig:
        certStore: "/tmp/ca-certs"
    {{- include "flightctl.authConfig" . | nindent 4 }}
    organizations:
      enabled: true
    {{ if (default dict .Values.dev).tracing }}
    tracing:
        enabled: true
        endpoint: {{ .Values.dev.tracing.endpoint }}
        insecure: {{ .Values.dev.tracing.insecure }}
    {{ end }}
{{- end }}

