#cloud-config
ssh_pwauth: true
password: {{ yamlQuote .Password }}
chpasswd: { expire: False }
write_files:
  - path: /etc/security/faillock.conf
    owner: root:root
    permissions: '0644'
    content: |
      deny = 0
{{- range .ExtraWriteFiles }}
  - path: {{ .Path }}
    owner: {{ .Owner }}
    permissions: '{{ .Permissions }}'
    content: |
{{ indent 6 .Content }}
{{- end }}
runcmd:
  - {{ .FaillockCommand }}
{{- range .ExtraRuncmds }}
  - {{ . }}
{{- end }}
