[Unit]
Description=Flight Control Periodic service
After=flightctl-db.service
Requires=flightctl-db.service

[Container]
ContainerName=flightctl-periodic
Image=quay.io/flightctl/flightctl-periodic:0.4.0
Network=flightctl.network
Environment=HOME=/root
Secret=flightctl-postgresql-master-password,type=env,target=DB_PASSWORD
Secret=flightctl-kv-password,type=env,target=KV_PASSWORD
Volume=%h/.config/flightctl/flightctl-periodic-config/config.yaml:/root/.flightctl/config.yaml:Z

[Service]
Restart=always
RestartSec=30
Slice=flightctl.slice

[Install]
WantedBy=flightctl.slice
