[Unit]
Description=Flight Control Periodic service
After=flightctl-db.service
Requires=flightctl-db.service

[Container]
ContainerName=flightctl-periodic
Image=quay.io/flightctl/flightctl-periodic:0.6.0-main-35-g6e173b7
Network=flightctl.network
Environment=HOME=/root
Secret=flightctl-postgresql-master-password,type=env,target=DB_PASSWORD
Secret=flightctl-kv-password,type=env,target=KV_PASSWORD
Volume=/etc/flightctl/flightctl-api/config.yaml:/root/.flightctl/config.yaml:ro,z

[Service]
Restart=always
RestartSec=30
Slice=flightctl.slice

[Install]
WantedBy=flightctl.slice
