[Unit]
PartOf=flightctl.target
After=flightctl-api.service
Wants=flightctl-api.service

[Container]
Image=registry.access.redhat.com/ubi9/ubi-minimal
ContainerName=flightctl-ui-init
Volume=/usr/share/flightctl/init_utils.sh:/utils/init_utils.sh:ro,z
Volume=/usr/share/flightctl/flightctl-ui:/config-source:ro,Z
Volume=/etc/flightctl/pki:/certs-source:ro,z
Volume=flightctl-ui-certs:/certs-destination:rw,z
Volume=/etc/flightctl/flightctl-ui:/config-destination:rw,Z
Volume=/etc/flightctl/service-config.yaml:/service-config.yaml:ro,Z
Exec=/bin/sh /config-source/init.sh

[Service]
Type=oneshot
RemainAfterExit=true
TimeoutStartSec=5s
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=flightctl.target
