[Unit]
Description=Flight Control UI
After=flightctl-api.service flightctl-ui-init.service
Requires=flightctl-api.service
Wants=flightctl-ui-init.service

[Container]
ContainerName=flightctl-ui
Image=quay.io/flightctl/flightctl-ui:0.6.0-main-30-gfaedf0a
Network=flightctl.network
EnvironmentFile=/etc/flightctl/flightctl-ui/env

PublishPort=443:8080

Volume=flightctl-ui-certs:/app/certs:ro,z

[Service]
Restart=always
RestartSec=30
Slice=flightctl.slice

[Install]
WantedBy=flightctl.slice
