[Unit]
Description=Flight Control UI Initialization
PartOf=flightctl.target
After=flightctl-api.service flightctl-certs-init.service
Wants=flightctl-api.service flightctl-certs-init.service

[Container]
ContainerName=flightctl-ui-init
Image=registry.access.redhat.com/ubi9/ubi-minimal:9.7-1763362218
Pull=missing
Volume=/usr/share/flightctl/init_utils.sh:/utils/init_utils.sh:ro,z
Volume=/usr/share/flightctl/flightctl-ui/init.sh:/config-source/init.sh:ro,Z
Volume=/etc/flightctl/pki:/certs-source:ro,z
Volume=flightctl-ui-certs:/certs-destination:rw,z
Exec=/bin/sh /config-source/init.sh

[Service]
Type=oneshot
RemainAfterExit=true
TimeoutStartSec=5s
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=flightctl.target
