[Unit]
Description=Flight Control UI
PartOf=flightctl.target
After=flightctl-api.service flightctl-ui-init.service flightctl-ui-post-init.service
Wants=flightctl-ui-init.service flightctl-ui-post-init.service

[Container]
ContainerName=flightctl-ui
Image=quay.io/flightctl/flightctl-ui:latest
Pull=newer
Network=flightctl.network
EnvironmentFile=/etc/flightctl/flightctl-ui/env

PublishPort=443:8080

Volume=flightctl-ui-certs:/app/certs:ro,z

[Service]
Restart=always
RestartSec=30

[Install]
WantedBy=flightctl.target
