[Unit]
Description=Flight Control Worker service
PartOf=flightctl.target
After=flightctl-db-wait.service flightctl-db-migrate.service flightctl-kv.service flightctl-api-init.service
Wants=flightctl-db-wait.service flightctl-db-migrate.service flightctl-kv.service flightctl-api-init.service

[Container]
ContainerName=flightctl-worker
Image=quay.io/flightctl/flightctl-worker:latest
Pull=newer
Network=flightctl.network
Environment=HOME=/root
Environment=SERVICE_CONFIG_PATH=/etc/flightctl/service-config.yaml
EnvironmentFile=/etc/flightctl/flightctl-api/env
Secret=flightctl-kv-password,type=env,target=KV_PASSWORD
Volume=/etc/flightctl/flightctl-api/config.yaml:/root/.flightctl/config.yaml:ro,z
Volume=/etc/flightctl/service-config.yaml:/etc/flightctl/service-config.yaml:ro,z
Volume=/etc/flightctl/ssh:/etc/flightctl/ssh:ro,z

[Service]
Restart=always
RestartSec=30

[Install]
WantedBy=flightctl.target