[Unit]
Description=FlightCtl Worker service
After=flightctl-db.service
Requires=flightctl-db.service

[Container]
ContainerName=flightctl-worker
Image={{.Worker.Image.Image}}
Network=flightctl.network
Environment=HOME=/root
Volume={{.UserConfigDirectory}}/config.yaml:/root/.flightctl/config.yaml:ro

[Service]
Restart=always
RestartSec=30
Slice=flightctl.slice

[Install]
WantedBy=flightctl.slice
