[Unit]
Description=Flight Control Worker service
PartOf=flightctl.target
After=flightctl-db-wait.service flightctl-db-migrate.service flightctl-kv.service
Wants=flightctl-db-wait.service flightctl-db-migrate.service flightctl-kv.service

[Container]
ContainerName=flightctl-worker
Image={{ .Worker.Image }}:{{ .Worker.Tag }}
Pull=missing
Network=flightctl.network
AddHost=%H:host-gateway
Environment=HOME=/root
Secret=flightctl-postgresql-user-password,type=env,target=DB_PASSWORD
Secret=flightctl-kv-password,type=env,target=KV_PASSWORD
Environment=DB_USER=flightctl_app
Volume=/etc/flightctl/flightctl-worker/config.yaml:/root/.flightctl/config.yaml:ro,z
Volume=/etc/flightctl/ssh:/etc/flightctl/ssh:ro,z
Volume=/etc/flightctl/pki/db:/root/.flightctl/certs/db:ro,z

[Service]
Restart=always
RestartSec=30

ExecStartPre=/usr/bin/flightctl-standalone render template --input-file /usr/share/flightctl/flightctl-worker/config.yaml.template --output-file /etc/flightctl/flightctl-worker/config.yaml

[Install]
WantedBy=flightctl.target
