[Unit]
Description=Flight Control Worker service
PartOf=flightctl.target
After=flightctl-db-wait.service flightctl-db-migrate.service flightctl-kv.service
Wants=flightctl-db-wait.service flightctl-db-migrate.service flightctl-kv.service

[Container]
ContainerName=flightctl-worker
Image=quay.io/flightctl/flightctl-worker:latest
Pull=newer
Network=flightctl.network
Environment=HOME=/root
Secret=flightctl-postgresql-user-password,type=env,target=DB_PASSWORD
Secret=flightctl-kv-password,type=env,target=KV_PASSWORD
Environment=DB_USER=flightctl_app
Environment=FLIGHTCTL_SSH_KNOWN_HOSTS=/etc/flightctl/ssh/known_hosts
Volume=/etc/flightctl/flightctl-api/config.yaml:/root/.flightctl/config.yaml:ro,z
Volume=/etc/flightctl/ssh:/etc/flightctl/ssh:ro,z

[Service]
Restart=always
RestartSec=30

[Install]
WantedBy=flightctl.target
