
[Unit]
Description=Flightctl Agent
After=network.target

[Service]
ExecStart=/usr/bin/flightctl-agent
Restart=always

[Install]
WantedBy=multi-user.target
