
[Unit]
Description=Flightctl Agent
After=network.target
Before=getty@tty1.service

[Service]
ExecStart=/usr/bin/flightctl-agent
Restart=always

[Install]
WantedBy=multi-user.target
