[Unit]
Description=Flight Control Gateway service
After=flightctl-certs-init.service flightctl-api.service flightctl-telemetry-gateway.service flightctl-ui.service
Wants=flightctl-certs-init.service
PartOf=flightctl.target

[Container]
ContainerName=flightctl-gateway
Image={{ .Gateway.Image }}:{{ .Gateway.Tag }}
Pull=missing
Network=flightctl.network
AddHost=%H:host-gateway
Volume=/etc/flightctl/pki:/etc/flightctl/pki:ro,z
Volume=/etc/flightctl/flightctl-gateway/nginx.conf:/etc/nginx/nginx.conf:ro,z
Volume=/etc/flightctl/pki/flightctl-gateway/server.crt:/etc/flightctl/pki/flightctl-gateway/server.crt:ro,z
Volume=/etc/flightctl/pki/flightctl-gateway/server.key:/etc/flightctl/pki/flightctl-gateway/server.key:ro,z
User=1001
Group=0
Exec=nginx -g "daemon off;"

PublishPort=443:8443
PublishPort=7443:7443
PublishPort=4317:4317

[Service]
Restart=always
RestartSec=30

ExecStartPre=/usr/bin/flightctl-standalone render template --input-file /usr/share/flightctl/flightctl-gateway/nginx.conf.template --output-file /etc/flightctl/flightctl-gateway/nginx.conf
