[Unit]
Description=FlightCtl Key Value service
After=flightctl-db.service
Requires=flightctl-db.service

[Container]
ContainerName=flightctl-kv
Image=docker.io/redis:7.4.1
Network=flightctl.network
Environment=HOME=/root

PublishPort=6379:6379
Volume=flightctl-redis:/var/lib/redis/data
Volume=%t/redis.conf:/etc/redis/redis.conf:Z

[Service]
Type=notify
Restart=always
RestartSec=30
Slice=flightctl.slice
ExecStartPre=/bin/bash -c 'cat > /run/redis.conf << EOF
bind 0.0.0.0
protected-mode yes
port 6379
dir /var/lib/redis/data

# Password authentication
requirepass adminpass

# Logging
loglevel warning

# Snapshotting configuration
save 60 1

# Snapshot filename
dbfilename dump.rdb

# AOF configuration
appendonly yes
appendfilename "appendonly.aof"
appendfsync everysec
EOF'

[Install]
WantedBy=flightctl.slice