[Unit]
Description=FlightCtl Periodic service
After=flightctl-db.service
Requires=flightctl-db.service

[Container]
ContainerName=flightctl-periodic
Image=quay.io/flightctl/flightctl-periodic:latest
Network=flightctl.network
Environment=HOME=/root

Volume=./flightctl-periodic-config/config.yaml:/root/.flightctl/config.yaml

[Service]
Restart=always
RestartSec=30
Slice=flightctl.slice

[Install]
WantedBy=flightctl.slice
