{{- if and .Values.imageBuilderWorker .Values.imageBuilderWorker.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    flightctl.service: flightctl-imagebuilder-worker
    {{- include "flightctl.standardLabels" . | nindent 4 }}
  name: flightctl-imagebuilder-worker
  namespace: {{ default .Release.Namespace .Values.global.internalNamespace }}
{{- end }}
