[Unit]
Description=Flight Control Database Migration service
PartOf=flightctl.target
After=flightctl-db-wait.service flightctl-db-users-init.service flightctl-db-migrate-init.service
Wants=flightctl-db-wait.service flightctl-db-users-init.service flightctl-db-migrate-init.service

[Container]
ContainerName=flightctl-db-migrate
Image=quay.io/flightctl/flightctl-db-setup:latest
Network=flightctl.network
AutoUpdate=none
Environment=SERVICE_CONFIG_PATH=/etc/flightctl/service-config.yaml
EnvironmentFile=/etc/flightctl/flightctl-db-migrate/env
Volume=/etc/flightctl/flightctl-api/config.yaml:/root/.flightctl/config.yaml:ro,z
Volume=/etc/flightctl/service-config.yaml:/etc/flightctl/service-config.yaml:ro,z
Exec=/usr/local/bin/flightctl-db-migrate

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=on-failure
RestartSec=30
TimeoutStartSec=10m

[Install]
WantedBy=flightctl.target