[Unit]
Description=flightctl-db-migrate-init.service
PartOf=flightctl.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/podman run --name flightctl-db-migrate-init-temporary --rm \
          --network flightctl \
          -v /usr/share/flightctl/flightctl-db-migrate:/config-source:ro,z \
          -v /etc/flightctl/flightctl-db-migrate:/config-destination:rw,z \
          -v /etc/flightctl/service-config.yaml:/service-config.yaml:ro,z \
          quay.io/flightctl/flightctl-api:latest \
          /config-source/init.sh

[Install]
WantedBy=flightctl.target