[Unit]
Description=Flight Control Database Migration service
PartOf=flightctl.target
After=flightctl-db-wait.service flightctl-db-users-init.service
Wants=flightctl-db-wait.service flightctl-db-users-init.service 

[Container]
ContainerName=flightctl-db-migrate
Image={{ .DbSetup.Image }}:{{ .DbSetup.Tag }}
Network=flightctl.network
AddHost=%H:host-gateway
AutoUpdate=none
Secret=flightctl-postgresql-migrator-password,type=mount,target=/run/secrets/db/userPassword
Secret=flightctl-postgresql-migrator-password,type=mount,target=/run/secrets/db-migration/migrationPassword
Volume=/etc/flightctl/flightctl-db-migrate/config.yaml:/root/.flightctl/config.yaml:ro,z
Volume=/etc/flightctl/pki/db:/root/.flightctl/certs/db:ro,z
Exec=/usr/local/bin/flightctl-db-migrate

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=on-failure
RestartSec=30
TimeoutStartSec=10m

[Install]
WantedBy=flightctl.target
