[Unit]
Description=Flight Control Alertmanager service
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=flightctl-alertmanager
Image=quay.io/prometheus/alertmanager:v0.28.1
Pull=missing

# Run Alertmanager with the config file
Exec=--config.file=/usr/local/etc/alertmanager/alertmanager.yml --storage.path=/var/lib/alertmanager

# User namespace mapping (optional — useful if matching host permissions or running non-root)
PodmanArgs=--userns=keep-id:uid=999,gid=999 --sdnotify=conmon

# Expose the web UI and API
PublishPort=9093:9093

# Persistent storage and config
Volume=flightctl-alertmanager:/var/lib/alertmanager:Z,U
Volume=/usr/share/flightctl/flightctl-alertmanager/alertmanager.yml:/usr/local/etc/alertmanager/alertmanager.yml:ro,Z

[Service]
Type=notify
Restart=always
RestartSec=30
