version: '4.4'

services:
  flightctl-db:
    container_name: flightctl-db
    image: ${PGSQL_IMAGE:-quay.io/sclorg/postgresql-12-c8s:latest}
    environment:
      - POSTGRESQL_DATABASE=flightctl
      - POSTGRESQL_USER=demouser
      - POSTGRESQL_PASSWORD=demopass
      - POSTGRESQL_MASTER_USER=admin
      - POSTGRESQL_MASTER_PASSWORD=adminpass
      - PGPASSWORD=adminpass
    ports:
      - "5432:5432"
    volumes:
      - flightctl-db:/var/lib/pgsql/data
    networks:
      - flightctl-network
    restart: unless-stopped

  flightctl-mq:
    container_name: flightctl-rabbitmq
    image: ${RABBITMQ_IMAGE:-docker.io/library/rabbitmq:3.13-management}
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - flightctl-network
    restart: unless-stopped

  flightctl-auth-db:
    container_name: flightctl-auth-db
    image: ${PGSQL_IMAGE:-quay.io/sclorg/postgresql-12-c8s:latest}
    environment:
      - POSTGRESQL_DATABASE=keycloak
      - POSTGRESQL_USER=keycloak
      - POSTGRESQL_PASSWORD=keycloak
      - POSTGRESQL_MASTER_USER=admin
      - POSTGRESQL_MASTER_PASSWORD=adminpass
      - PGPASSWORD=adminpass
    ports:
      - "5433:5433"
    volumes:
      - flightctl-auth-db:/var/lib/pgsql/data
    networks:
      - flightctl-network
    restart: unless-stopped

  flighctl-db-metrics-exporter:
    container_name: flightctl-db-metrics-exporter
    image: quay.io/prometheuscommunity/postgres-exporter
    command:
      - '--web.listen-address=:9091'
    environment:
      - DATA_SOURCE_NAME=postgresql://admin:adminpass@localhost:5432/flightctl?sslmode=disable
      - PG_EXPORTER_METRIC_PREFIX=flightctl_db
    ports:
      - "9091:9091"
    networks:
      - flightctl-network
    restart: unless-stopped

  flightctl-auth:
    container_name: flightctl-auth
    image: quay.io/keycloak/keycloak
    ports:
      - "9080:9080"
      - "9443:9443"
    command:
      - start-dev
      - --http-port=9080
      - --https-port=9443
      - --import-realm
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: adminpass
      DB_VENDOR: postgres
      DB_ADDR: flightctl-auth-db:5433
      DB_DATABSE: keycloak
      DB_USER: keycloak
      DB_PASSWORD: keycloak
    volumes:
      - ./keycloak/realm-flightctl.json:/opt/keycloak/data/import/realm.json
    networks:
      - flightctl-network
    restart: unless-stopped

volumes:
  flightctl-db:
  flightctl-auth-db:
  flightctl-auth:
  config:
    external: true
networks:
  flightctl-network:
