[Unit]
Description=Flight Control Certificates Initialization
PartOf=flightctl.target
# The db service initializes configuration (.global.baseDomain) this service relies on
After=flightctl-db.service

[Service]
Type=oneshot
RemainAfterExit=true
Restart=on-failure
RestartSec=5s
Environment="FLIGHTCTL_CONFIG_DIR=%E/flightctl"
Environment="FLIGHTCTL_ASSET_DIR=%D/flightctl"
ExecStart=%D/flightctl/init_certs.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=flightctl.target
