[Unit]
Description=Flight Control Certificates Initialization
PartOf=flightctl.target

[Service]
Type=oneshot
RemainAfterExit=true
Restart=on-failure
RestartSec=5s
ExecStart=/usr/share/flightctl/init_certs.sh

[Install]
WantedBy=flightctl.target
