[Unit]
Description=Flight Control Services Group
Wants=flightctl-network.service
Wants=flightctl-db.service
Wants=flightctl-kv.service
Wants=flightctl-api-init.service
Wants=flightctl-api.service
Wants=flightctl-worker.service
Wants=flightctl-periodic.service
Wants=flightctl-ui-init.service
Wants=flightctl-ui.service

Requires=flightctl-db.service
Requires=flightctl-kv.service
Requires=flightctl-api-init.service
Requires=flightctl-api.service
Requires=flightctl-worker.service
Requires=flightctl-periodic.service
Requires=flightctl-ui-init.service
Requires=flightctl-ui.service

After=network.target
After=flightctl-network.service
After=flightctl-db.service
After=flightctl-kv.service
After=flightctl-api-init.service
After=flightctl-api.service
After=flightctl-worker.service
After=flightctl-periodic.service
After=flightctl-ui-init.service
After=flightctl-ui.service

[Install]
WantedBy=multi-user.target
