[Unit]
Description=Flight Control Prometheus Metrics Server
After=flightctl-network.service flightctl-certs-init.service
Wants=flightctl-network.service flightctl-certs-init.service
PartOf=flightctl-observability.target

[Container]
ContainerName=flightctl-prometheus
Image={{ .Prometheus.Image }}:{{ .Prometheus.Tag }}
Pull=missing

Network=flightctl.network
AddHost=%H:host-gateway

Volume=/etc/flightctl/flightctl-prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro,z
Volume=/etc/flightctl/pki/flightctl-prometheus/server.crt:/root/.flightctl/certs/server.crt:ro,z
Volume=/etc/flightctl/pki/flightctl-prometheus/server.key:/root/.flightctl/certs/server.key:ro,z
Volume=/var/lib/prometheus:/prometheus:rw,z

[Service]
Restart=on-failure
ExecStartPre=/usr/bin/flightctl-standalone render template --input-file /usr/share/flightctl/flightctl-prometheus/prometheus.yml --output-file /etc/flightctl/flightctl-prometheus/prometheus.yml

[Install]
WantedBy=multi-user.target
