{{ if .Values.pamIssuer.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: flightctl-pam-issuer-config
  namespace: {{ .Release.Namespace }}
data:
  config.yaml: |-
    database:
        hostname: {{ include "flightctl.dbHostname" . }}
        type: {{ required "Values.db.type is required" $.Values.db.type | quote }}
        port: {{ required "Values.db.port is required" $.Values.db.port }}
        name: {{ required "Values.db.name is required" $.Values.db.name }}
        {{- if .Values.db.sslmode }}
        sslmode: {{ .Values.db.sslmode | quote }}
        {{- end }}
        {{- if .Values.db.sslcert }}
        sslcert: {{ .Values.db.sslcert | quote }}
        {{- end }}
        {{- if .Values.db.sslkey }}
        sslkey: {{ .Values.db.sslkey | quote }}
        {{- end }}
        {{- if .Values.db.sslrootcert }}
        sslrootcert: {{ .Values.db.sslrootcert | quote }}
        {{- end }}
    service:
        {{- if eq (include "flightctl.getServiceExposeMethod" .) "nodePort" }}
        baseUrl: https://api.{{ include "flightctl.getBaseDomain" . }}:{{ .Values.global.nodePorts.api }}/
        baseAgentEndpointUrl: https://agent-api.{{ include "flightctl.getBaseDomain" . }}:{{ .Values.global.nodePorts.agent }}/
        {{- else if and (eq (include "flightctl.getServiceExposeMethod" .) "gateway") (not (eq (int .Values.global.gatewayPorts.tls) 443)) }}
        baseUrl: https://api.{{ include "flightctl.getBaseDomain" . }}:{{ .Values.global.gatewayPorts.tls }}/
        baseAgentEndpointUrl: https://agent-api.{{ include "flightctl.getBaseDomain" . }}:{{ .Values.global.gatewayPorts.tls }}/
        {{- else }}
        baseUrl: https://api.{{ include "flightctl.getBaseDomain" . }}/
        baseAgentEndpointUrl: https://agent-api.{{ include "flightctl.getBaseDomain" . }}/
        {{- end }}
        baseUIUrl: {{ include "flightctl.getUIUrl" . }}
    kv:
        hostname: flightctl-kv.{{ default .Release.Namespace .Values.global.internalNamespace }}.svc.cluster.local
        port: 6379
    auth:
        pamOidcIssuer:
            address: ":8444"
            {{- if eq (include "flightctl.getServiceExposeMethod" .) "nodePort" }}
            issuer: https://pam-issuer.{{ include "flightctl.getBaseDomain" . }}:{{ .Values.global.nodePorts.pamIssuer }}
            {{- else if and (eq (include "flightctl.getServiceExposeMethod" .) "gateway") (not (eq (int .Values.global.gatewayPorts.tls) 443)) }}
            issuer: https://pam-issuer.{{ include "flightctl.getBaseDomain" . }}:{{ .Values.global.gatewayPorts.tls }}
            {{- else }}
            issuer: https://pam-issuer.{{ include "flightctl.getBaseDomain" . }}
            {{- end }}
            clientId: {{ .Values.global.auth.pamOidcIssuer.clientId }}
            clientSecret: {{ .Values.global.auth.pamOidcIssuer.clientSecret }}
            scopes:
            {{- range .Values.global.auth.pamOidcIssuer.scopes }}
                - {{ . | quote }}
            {{- end }}
            {{- if .Values.global.auth.pamOidcIssuer.redirectUris }}
            redirectUris:
            {{- range .Values.global.auth.pamOidcIssuer.redirectUris }}
                - {{ . | quote }}
            {{- end }}
            {{- end }}
            pamService: {{ .Values.global.auth.pamOidcIssuer.pamService }}
    {{ if .Values.global.tracing.enabled }}
    tracing:
        enabled: true
        endpoint: {{ .Values.global.tracing.endpoint }}
        insecure: {{ .Values.global.tracing.insecure }}
    {{ end }}
{{ end }}

