[Unit]
Description=Test E2E Crash Dummy

[Service]
Type=simple
WorkingDirectory=/tmp
ExecStart=/usr/bin/false
KillMode=process
Restart=always
RestartSec=30
User=root
Group=root

[Install]
WantedBy=multi-user.target