# Copyright Red Hat, Inc. All Rights Reserved.
# SPDX-License-Identifier: APACHE-2.0

global:
  ## @param storageClassName Storage class to use for all persistent volumes
  storageClassName: ""
  ## @param imagePullPolicy The container image pull policy
  imagePullPolicy: ""

## @param image The container image to use for Keycloak
image: quay.io/keycloak/keycloak:25.0.1
## @param imagePullPolicy The container imagePullPolicy to use for Keycloak
imagePullPolicy: ""
service:
  nodePorts:
    http: ""
    https: ""
realm:
  redirectUris: ""
  webOrigins: ""
db:
  ## @param db.image The container image to use for the Keycloak database
  image: quay.io/sclorg/postgresql-16-c9s
  tag: latest
  ## @param imagePullPolicy The container imagePullPolicy to use for the Keycloak database
  imagePullPolicy: ""
directAccessGrantsEnabled: true
