[Unit]
Description=Flight Control Prometheus Metrics Server
After=flightctl-network.service
Wants=flightctl-network.service
PartOf=flightctl-observability.target

[Container]
Image=${PROMETHEUS_IMAGE}
Pull=missing
ContainerName=flightctl-prometheus

Volume=/etc/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro,z
Volume=/var/lib/prometheus:/prometheus:rw,z

Network=flightctl

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
