{{ if and (.Values.api.enabled) (eq (include "flightctl.getServiceExposeMethod" .) "route") }}
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  {{- if .Values.global.appCode }}
  labels:
    external-exposed: "true"
    paas.redhat.com/appcode: {{ .Values.global.appCode }}
    shard: external
  {{- end }}
  name: flightctl-api-route-agent-grpc
  namespace: {{ .Release.Namespace }}
spec:
  host: agent-grpc.{{ include "flightctl.getBaseDomain" . }}
  port:
    targetPort: 7444
  tls:
    termination: passthrough # the service is responsible for terminating TLS and authenticating devices through TLSs
    insecureEdgeTerminationPolicy: None
  to:
    kind: Service
    name: flightctl-api-agent-grpc
    weight: 100
  wildcardPolicy: None
{{ end }}
