{{- if .Values.telemetryGateway.enabled }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: flightctl-telemetry-gateway-config
  namespace: {{ .Release.Namespace }}
data:
  config.yaml: |-
    database:
        hostname: {{ include "flightctl.dbHostname" . }}
        type: {{ $.Values.db.type | quote }}
        port: {{ $.Values.db.port }}
        name: {{ $.Values.db.name }}
    service: {}
    kv:
        hostname: flightctl-kv.{{ default .Release.Namespace .Values.global.internalNamespace }}.svc.cluster.local
        port: 6379
    {{- with .Values.telemetryGateway.config }}
    telemetryGateway:
    {{- toYaml . | nindent 8 }}
    {{- end }}

    {{- if .Values.global.tracing.enabled }}
    tracing:
        enabled: true
        endpoint: {{ .Values.global.tracing.endpoint }}
        insecure: {{ .Values.global.tracing.insecure }}
    {{ end }}
{{- end }}

