{{ if .Values.worker.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    flightctl.service: flightctl-worker
    {{- include "flightctl.standardLabels" . | nindent 4 }}
  name: flightctl-worker
  namespace: {{ default .Release.Namespace .Values.global.internalNamespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      flightctl.service: flightctl-worker
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        flightctl.service: flightctl-worker
        {{- include "flightctl.standardLabels" . | nindent 8 }}
    spec:
      serviceAccountName: flightctl-worker
      initContainers:
      {{- include "flightctl.databaseWaitInitContainer" (dict "context" . "userType" "app") | nindent 6 }}
      containers:
        - name: flightctl-worker
          image: {{ .Values.worker.image.image }}:{{ default .Chart.AppVersion .Values.worker.image.tag }}
          imagePullPolicy: {{ default .Values.global.imagePullPolicy .Values.worker.image.pullPolicy }}
          {{ if .Values.global.metrics.enabled }}
          ports:
            - containerPort: 8080
              name: metrics
              protocol: TCP
          {{ end }}
          env:
            - name: HOME
              value: "/root"
            - name: KV_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: flightctl-kv-secret
                  key: password
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: flightctl-db-app-secret
                  key: userPassword
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: flightctl-db-app-secret
                  key: user
            {{- if .Values.worker.env }}
            {{- range $key, $value := .Values.worker.env }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
            {{- end }}
          volumeMounts:
            - mountPath: /root/.flightctl/config.yaml
              name: flightctl-worker-config
              subPath: config.yaml
              readOnly: true
            {{- include "flightctl.dbSslVolumeMounts" . | nindent 12 }}
      restartPolicy: Always
      volumes:
        - name: flightctl-worker-config
          configMap:
            name: flightctl-worker-config
        {{- include "flightctl.dbSslVolumes" . | nindent 8 }}
{{ end }}
