{{ if .Values.api.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: flightctl-api-config
  namespace: {{ .Release.Namespace }}
data:
  config.yaml: |-
    database:
        hostname: flightctl-db.{{ default .Release.Namespace .Values.global.internalNamespace }}.svc.cluster.local
        type: pgsql
        port: 5432
        name: flightctl
    service:
        address: :3443
        agentEndpointAddress: :7443
        agentGrpcAddress: :7444
        httpReadTimeout: {{ .Values.api.httpReadTimeout | default "5m" | quote }}
        httpReadHeaderTimeout: {{ .Values.api.httpReadHeaderTimeout | default "5m" | quote }}
        httpWriteTimeout: {{ .Values.api.httpWriteTimeout | default "5m" | quote }}
        httpMaxNumHeaders: {{ default 32 .Values.api.httpMaxNumHeaders }}
        httpMaxHeaderBytes: {{ default 33010 .Values.api.httpMaxHeaderBytes }}
        httpMaxUrlLength: {{ default 2000 .Values.api.httpMaxUrlLength }}
        httpMaxRequestSize: {{ default 53137200 .Values.api.httpMaxRequestSize }}
        {{- if eq (include "flightctl.getServiceExposeMethod" .) "nodePort" }}
        baseUrl: https://api.{{ include "flightctl.getBaseDomain" . }}:{{ .Values.global.nodePorts.api }}/
        baseAgentEndpointUrl: https://agent-api.{{ include "flightctl.getBaseDomain" . }}:{{ .Values.global.nodePorts.agent }}/
        baseAgentGrpcUrl: grpcs://agent-grpc.{{ include "flightctl.getBaseDomain" . }}:{{ .Values.global.nodePorts.grpc }}
        {{- else if and (eq (include "flightctl.getServiceExposeMethod" .) "gateway") (not (eq .Values.global.gatewayPorts.tls 443)) }}
        baseUrl: https://api.{{ include "flightctl.getBaseDomain" . }}:{{ .Values.global.gatewayPorts.tls }}/
        baseAgentEndpointUrl: https://agent-api.{{ include "flightctl.getBaseDomain" . }}:{{ .Values.global.gatewayPorts.tls }}/
        baseAgentGrpcUrl: grpcs://agent-grpc.{{ include "flightctl.getBaseDomain" . }}:{{ .Values.global.gatewayPorts.tls }}
        {{- else }}
        baseUrl: https://api.{{ include "flightctl.getBaseDomain" . }}/
        baseAgentEndpointUrl: https://agent-api.{{ include "flightctl.getBaseDomain" . }}/
        baseAgentGrpcUrl: grpcs://agent-grpc.{{ include "flightctl.getBaseDomain" . }}
        {{- end }}
        baseUIUrl: {{ include "flightctl.getUIUrl" . }}
        altNames:
          - api.{{ include "flightctl.getBaseDomain" . }}
          - agent-api.{{ include "flightctl.getBaseDomain" . }}
          - agent-grpc.{{ include "flightctl.getBaseDomain" . }}
          - flightctl-api
          - flightctl-api.{{ .Release.Namespace }}
          - flightctl-api.{{ .Release.Namespace }}.svc.cluster.local
          - flightctl-api-agent-grpc
          - flightctl-api-agent-grpc.{{ .Release.Namespace }}
          - flightctl-api-agent-grpc.{{ .Release.Namespace }}.svc.cluster.local
    kv:
        hostname: flightctl-kv.{{ default .Release.Namespace .Values.global.internalNamespace }}.svc.cluster.local
        port: 6379
    {{- if not (eq .Values.global.auth.type "none")  }}
    auth:
        insecureSkipTlsVerify: {{ .Values.global.auth.insecureSkipTlsVerify }}
        caCert: {{ .Values.global.auth.caCert }}
        {{- if or (eq .Values.global.target "acm") (eq .Values.global.auth.type "k8s")  }}
        k8s:
            apiUrl: {{ .Values.global.auth.k8s.apiUrl }}
            externalOpenShiftApiUrl: {{ include "flightctl.getOpenShiftAPIUrl" . }}
            rbacNs: {{ default .Release.Namespace .Values.global.auth.k8s.rbacNs }}
        {{- else }}
        oidc:
            oidcAuthority: {{ .Values.global.auth.oidc.oidcAuthority }}
            externalOidcAuthority: {{ include "flightctl.getOidcAuthorityUrl" . }}
        {{- end }}
    {{- end }}
    {{- if .Values.prometheus.enabled }}
    prometheus:
        address: ":15690"
        sloMax: 4.0
        apiLatencyBins: [0.000001, 0.00001, 0.0001, 0.001, 0.01, 0.1, 1]
    {{- end }}
{{ end }}
