{{- $namespaces := list .Release.Namespace }}
{{- if and .Values.global.internalNamespace (ne .Values.global.internalNamespace .Release.Namespace) }}
{{- $namespaces = append $namespaces .Values.global.internalNamespace }}
{{- end }}
{{- $masterUser := .Values.db.masterUser }}
{{- $user := .Values.db.user }}
{{- $migrationUser := default "flightctl_migrator" .Values.db.migrationUser }}
apiVersion: batch/v1
kind: Job
metadata:
  name: flightctl-secrets
  namespace: {{ .Release.Namespace }}
spec:
  manualSelector: true
  selector:
    matchLabels:
      flightctl.service: secrets-job
  template:
    metadata:
      name: flightctl-secrets
      labels:
        flightctl.service: secrets-job
    spec:
      serviceAccountName: flightctl-secrets
      containers:
        - name: flightctl-secrets
          image: {{ .Values.secretsJob.image.image }}:{{ .Values.secretsJob.image.tag }}
          imagePullPolicy: {{ default .Values.global.imagePullPolicy .Values.secretsJob.image.pullPolicy }}
          command:
            - /bin/sh
            - -c
            - |
              set -e
              DB_MASTER_PASSWORD=$(cat /dev/urandom | tr -dc 'A-Za-z0-9' | fold -w5 | head -n4 | paste -sd'-')
              DB_USER_PASSWORD=$(cat /dev/urandom | tr -dc 'A-Za-z0-9' | fold -w5 | head -n4 | paste -sd'-')
              KV_PASSWORD=$(cat /dev/urandom | tr -dc 'A-Za-z0-9' | fold -w5 | head -n4 | paste -sd'-')
              DB_MIGRATION_PASSWORD=$(cat /dev/urandom | tr -dc 'A-Za-z0-9' | fold -w5 | head -n4 | paste -sd'-')
              {{- range $ns := $namespaces }}
              if ! kubectl get secret flightctl-db-admin-secret -n {{ $ns }} >/dev/null 2>&1; then
                kubectl create secret generic flightctl-db-admin-secret -n={{ $ns }} --from-literal=masterPassword="$DB_MASTER_PASSWORD" --from-literal=masterUser="{{ $masterUser }}"
                kubectl label secret flightctl-db-admin-secret -n {{ $ns }} flightctl.service=flightctl-db-admin security.level=high-privilege
              fi
              if ! kubectl get secret flightctl-db-app-secret -n {{ $ns }} >/dev/null 2>&1; then
                kubectl create secret generic flightctl-db-app-secret -n={{ $ns }} --from-literal=userPassword="$DB_USER_PASSWORD" --from-literal=user="{{ $user }}"
                kubectl label secret flightctl-db-app-secret -n {{ $ns }} flightctl.service=flightctl-db-app security.level=application
              fi
              if ! kubectl get secret flightctl-kv-secret -n {{ $ns }} >/dev/null 2>&1; then
                kubectl create secret generic flightctl-kv-secret -n={{ $ns }} --from-literal=password="$KV_PASSWORD"
              fi
              if ! kubectl get secret flightctl-db-migration-secret -n {{ $ns }} >/dev/null 2>&1; then
                kubectl create secret generic flightctl-db-migration-secret -n={{ $ns }} --from-literal=migrationUser="{{ $migrationUser }}" --from-literal=migrationPassword="$DB_MIGRATION_PASSWORD"
                kubectl label secret flightctl-db-migration-secret -n {{ $ns }} flightctl.service=flightctl-db-migration security.level=schema-privilege
              fi
              {{- end }}
      restartPolicy: Never
