{{ if .Values.periodic.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: flightctl-periodic-config
  namespace: {{ default .Release.Namespace .Values.global.internalNamespace }}
data:
  config.yaml: |-
    database:
        hostname: flightctl-db.{{ default .Release.Namespace .Values.global.internalNamespace }}.svc.cluster.local
        type: pgsql
        port: 5432
        name: {{ (default "flightctl" $.Values.db.name) }}
    service: {}
    kv:
        hostname: flightctl-kv.{{ default .Release.Namespace .Values.global.internalNamespace }}.svc.cluster.local
        port: 6379
    periodic:
        consumers: {{ .Values.periodic.consumers }}
    {{ if .Values.global.tracing.enabled }}
    tracing:
        enabled: true
        endpoint: {{ .Values.global.tracing.endpoint }}
        insecure: {{ .Values.global.tracing.insecure }}
    {{ end }}
{{ end }}
