{{ if .Values.worker.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: flightctl-worker-config
  namespace: {{ default .Release.Namespace .Values.global.internalNamespace }}
data:
  config.yaml: |-
    database:
        hostname: flightctl-db.{{ default .Release.Namespace .Values.global.internalNamespace }}.svc.cluster.local
        type: pgsql
        port: 5432
        name: flightctl
        user: {{ .Values.db.masterUser }}
        password: {{ .Values.db.masterPassword }}   # we should funnel this via secrets instead
    service: {}
    kv:
        hostname: flightctl-kv.{{ default .Release.Namespace .Values.global.internalNamespace }}.svc.cluster.local
        port: 6379
        password: {{ .Values.kv.password }}   # we should funnel this via secrets instead
{{ end }}
