apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: flightctl-admin-{{ .Release.Namespace }}
  labels:
    {{- include "flightctl.standardLabels" . | nindent 4 }}
rules:
  - verbs:
      - '*'
    apiGroups:
      - flightctl.io
    resources:
      - '*'

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: flightctl-viewer-{{ .Release.Namespace }}
  labels:
    {{- include "flightctl.standardLabels" . | nindent 4 }}
rules:
  - verbs:
      - get
      - list
    apiGroups:
      - flightctl.io
    resources:
      - devices
      - fleets
      - resourcesyncs
      - organizations
      - imagebuilds
      - imageexports
  # Viewer can view logs but NOT download
  - verbs:
      - get
    apiGroups:
      - flightctl.io
    resources:
      - imagebuilds/log
      - imageexports/log
  # Note: imageexports/download is intentionally NOT included for viewer role

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: flightctl-operator-{{ .Release.Namespace }}
  labels:
    {{- include "flightctl.standardLabels" . | nindent 4 }}
rules:
  - verbs:
      - get
      - list
      - create
      - delete
      - update
      - patch
    apiGroups:
      - flightctl.io
    resources:
      - devices
      - fleets
      - resourcesyncs
      - repositories
      - imagebuilds
      - imageexports
  - verbs:
      - get
    apiGroups:
      - flightctl.io
    resources:
      - devices/console
      - devices/lastseen
      - imagebuilds/log
      - imageexports/log
      - imageexports/download
  # Cancel operations for image builds/exports (PUT maps to update verb)
  - verbs:
      - update
    apiGroups:
      - flightctl.io
    resources:
      - imagebuilds/cancel
      - imageexports/cancel
  - verbs:
      - get
      - list
    apiGroups:
      - flightctl.io
    resources:
      - fleets/templateversions
      - alerts
      - organizations
  # Device lifecycle actions (granular subresource approach)
  - verbs:
      - update  # Standard Kubernetes verb for resume action
    apiGroups:
      - flightctl.io
    resources:
      - devices/resume


---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: flightctl-installer-{{ .Release.Namespace }}
  labels:
    {{- include "flightctl.standardLabels" . | nindent 4 }}
rules:
  - verbs:
      - get
      - list
    apiGroups:
      - flightctl.io
    resources:
      - enrollmentrequests
      - organizations
      - imagebuilds
      - imageexports
  - verbs:
      - update  # API uses PUT for approval endpoint
    apiGroups:
      - flightctl.io
    resources:
      - enrollmentrequests/approval
  - verbs:
      - get
      - list
      - create
      - update
    apiGroups:
      - flightctl.io
    resources:
      - certificatesigningrequests
  # Installer can download image exports for installation
  - verbs:
      - get
    apiGroups:
      - flightctl.io
    resources:
      - imageexports/download
