{{- if eq (include "flightctl.getEffectiveAuthType" .) "openshift" }}
{{- if .Values.global.generateSecrets }}
{{- $secretName := printf "%s-secret" (include "flightctl.getOpenShiftOAuthClientId" .) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  namespace: openshift-config
  labels:
    {{- include "flightctl.standardLabels" . | nindent 4 }}
    app: flightctl
    component: oauth-client
type: Opaque
data:
  clientSecret: {{ include "flightctl.getOpenShiftOAuthClientSecret" . | b64enc }}
{{- end }}
{{- end }}

