apiVersion: v1
kind: ConfigMap
metadata:
  name: flightctl-db-migration-config
  namespace: {{ default .Release.Namespace .Values.global.internalNamespace }}
data:
  config.yaml: |-
    database:
        hostname: flightctl-db.{{ default .Release.Namespace .Values.global.internalNamespace }}.svc.cluster.local
        type: pgsql
        port: 5432
        name: {{ (default "flightctl" $.Values.db.name) }}
        user: {{ (default "flightctl_migrator" $.Values.db.migrationUser) }}
        migrationUser: {{ (default "flightctl_migrator" $.Values.db.migrationUser) }}
    service: {}
    {{ if .Values.global.tracing.enabled }}
    tracing:
        enabled: true
        endpoint: {{ .Values.global.tracing.endpoint }}
        insecure: {{ .Values.global.tracing.insecure }}
    {{ end }}