{{- if .Values.alertmanagerProxy.enabled }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: flightctl-alertmanager-proxy-config
  namespace: {{ default .Release.Namespace .Values.global.internalNamespace }}
data:
  config.yaml: |-
    service:
      certStore: "/app/certs"
    ca:
      internalConfig:
        certStore: "/tmp/ca-certs"
    {{- if not (eq .Values.global.auth.type "none") }}
    auth:
      insecureSkipTlsVerify: {{ default false .Values.global.auth.insecureSkipTlsVerify }}
      {{- if and .Values.global.auth .Values.global.auth.caCert }}
      caCert: {{ .Values.global.auth.caCert }}
      {{- end }}
      {{- if or (eq .Values.global.target "acm") (eq .Values.global.auth.type "k8s") }}
      k8s:
        apiUrl: {{ .Values.global.auth.k8s.apiUrl }}
        externalOpenShiftApiUrl: {{ include "flightctl.getOpenShiftAPIUrl" . }}
        rbacNs: {{ default .Release.Namespace .Values.global.auth.k8s.rbacNs }}
      {{- else if eq .Values.global.auth.type "aap" }}
      aap:
        apiUrl: {{ .Values.global.auth.aap.apiUrl }}
        externalApiUrl: {{ .Values.global.auth.aap.externalApiUrl }}
      {{- else }}
      oidc:
        oidcAuthority: {{ .Values.global.auth.oidc.oidcAuthority }}
        externalOidcAuthority: {{ include "flightctl.getOidcAuthorityUrl" . }}
      {{- end }}
    {{- end }}
{{- end }}

