apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: flightctl-admin-{{ .Release.Namespace }}
  labels:
    {{- include "flightctl.standardLabels" . | nindent 4 }}
rules:
  - verbs:
      - '*'
    apiGroups:
      - flightctl.io
    resources:
      - '*'

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: flightctl-viewer-{{ .Release.Namespace }}
  labels:
    {{- include "flightctl.standardLabels" . | nindent 4 }}
rules:
  - verbs:
      - get
      - list
    apiGroups:
      - flightctl.io
    resources:
      - devices
      - fleets
      - resourcesyncs
      - organizations

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: flightctl-operator-{{ .Release.Namespace }}
  labels:
    {{- include "flightctl.standardLabels" . | nindent 4 }}
rules:
  - verbs:
      - get
      - list
      - create
      - delete
      - update
      - patch
    apiGroups:
      - flightctl.io
    resources:
      - devices
      - fleets
      - resourcesyncs
      - repositories
  - verbs:
      - get
    apiGroups:
      - flightctl.io
    resources:
      - devices/console
      - devices/lastseen
  - verbs:
      - get
      - list
    apiGroups:
      - flightctl.io
    resources:
      - fleets/templateversions
      - alerts
      - organizations
  # Device lifecycle actions (granular subresource approach)
  - verbs:
      - update  # Standard Kubernetes verb for resume action
    apiGroups:
      - flightctl.io
    resources:
      - devices/resume


---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: flightctl-installer-{{ .Release.Namespace }}
  labels:
    {{- include "flightctl.standardLabels" . | nindent 4 }}
rules:
  - verbs:
      - get
      - list
    apiGroups:
      - flightctl.io
    resources:
      - enrollmentrequests
      - organizations
  - verbs:
      - update  # API uses PUT for approval endpoint
    apiGroups:
      - flightctl.io
    resources:
      - enrollmentrequests/approval
  - verbs:
      - get
      - list
      - create
      - update
    apiGroups:
      - flightctl.io
    resources:
      - certificatesigningrequests
