{{- if eq (include "flightctl.enableMulticlusterExtensions" .) "true" }}
{{- $baseDomain := (include "flightctl.getBaseDomain" .) }}
{{- $mceNamespace := .Values.global.multiclusterEngineNamespace | default "multicluster-engine" }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: flightctl-discovery
  namespace: {{ $mceNamespace }}
  labels:
    {{- include "flightctl.standardLabels" . | nindent 4 }}
data:
  apiEndpoint: "https://api.{{ $baseDomain }}"
  healthEndpoint: "https://api.{{ $baseDomain }}/healthz"
  namespace: "{{ .Release.Namespace }}"
{{- end }}
