apiVersion: v1
kind: ConfigMap
metadata:
  name: flightctl-prometheus-config
  namespace: {{ .Release.Namespace }}
data:
  prometheus.yml: |-
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: "flightctl-services"

        kubernetes_sd_configs:
          - role: pod

        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_container_port_number]
            action: keep
            regex: 1569[0-2]
        scheme: http
