{{ if and (eq (.Values.global).target "standalone") (eq (.Values.global.auth).type "builtin") }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: keycloak
    spec:
      containers:
      - name: keycloak
        image: {{ .Values.image }}
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        args:
        - start-dev
        - --http-port=8080
        - --proxy=edge
        - --import-realm
        env:
          - name: KEYCLOAK_ADMIN
            valueFrom:
              secretKeyRef:
                name: keycloak-admin-secret
                key: username
          - name: KEYCLOAK_ADMIN_PASSWORD
            valueFrom:
              secretKeyRef:
                name: keycloak-admin-secret
                key: password
          - name: KC_DB_URL
            valueFrom:
              secretKeyRef:
                name: keycloak-db-pguser-keycloak
                key: jdbcUrl
          - name: KC_DB
            value: postgres
          - name: KC_DB_USERNAME
            valueFrom:
              secretKeyRef:
                name: keycloak-db-pguser-keycloak
                key: username
          - name: KC_DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: keycloak-db-pguser-keycloak
                key: password
        ports:
        - containerPort: 8080
        - containerPort: 8443
        resources: {}
        volumeMounts:
        - mountPath: /opt/keycloak/data/import/
          name: keycloak-claim
      restartPolicy: Always
      volumes:
      - name: keycloak-claim
        secret:
          secretName: keycloak-realm
          items:
            - key: realm.json
              path: realm.json
{{ end }}