{{ if and (eq (.Values.global).target "standalone") (eq (.Values.global.auth).type "builtin") }}
{{ if eq (include "flightctl.getServiceExposeMethod" .) "route" }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-keycloak-from-router
  namespace: {{ .Release.Namespace }}
spec:
  ingress:
  - from:
    - namespaceSelector:
        matchLabels:
          policy-group.network.openshift.io/ingress: ""
      podSelector: {}
  podSelector:
    matchLabels:
      app: keycloak
  policyTypes:
  - Ingress
---
kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-keycloak-from-api
  namespace: {{ .Release.Namespace }}
spec:
  podSelector:
    matchLabels:
      app: keycloak
  ingress:
    - from:
        - podSelector:
            matchLabels:
              flightctl.service: flightctl-api
  policyTypes:
    - Ingress
{{ end }}
{{ end }}