{{ if and (eq (.Values.global).target "standalone") (eq (.Values.global.auth).type "builtin") }}
kind: Service
apiVersion: v1
metadata:
  name: keycloak
  namespace: {{ .Release.Namespace }}
  labels:
    app: keycloak
spec:
  {{- if and .Values.global.nodePorts.keycloak (eq (include "flightctl.getServiceExposeMethod" .) "nodePort") }}
  type: NodePort
  {{- end }}
  ports:
    - name: 8080-tcp
      port: 8080
      targetPort: 8080
      {{- if and .Values.global.nodePorts.keycloak (eq (include "flightctl.getServiceExposeMethod" .) "nodePort") }}
      nodePort: {{ .Values.global.nodePorts.keycloak }}
      {{- end }}
  selector:
    app: keycloak
  {{ end }}
