[Unit]
Description=Flight Control API Configuration Templating
PartOf=flightctl.target
After=flightctl-db-wait.service
Wants=flightctl-db-wait.service

[Container]
ContainerName=flightctl-api-init
Image=quay.io/flightctl/flightctl-api:latest
Pull=newer

Volume=/etc/flightctl/service-config.yaml:/app/service-config.yaml:ro,z
Volume=/usr/share/flightctl/flightctl-api/env.template:/app/templates/env.template:ro,z
Volume=/usr/share/flightctl/flightctl-api/config.yaml.template:/app/templates/config.yaml.template:ro,z
Volume=/etc/flightctl/flightctl-api:/app/rendered:rw,z

Exec=/app/flightctl-service-setup

[Service]
Type=oneshot
RemainAfterExit=true
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=flightctl.target
