[Unit]
Description=Flight Control API server
PartOf=flightctl.target
After=flightctl-db-wait.service flightctl-db-migrate.service flightctl-kv.service flightctl-api-init.service
Wants=flightctl-db-wait.service flightctl-db-migrate.service flightctl-kv.service flightctl-api-init.service

[Container]
ContainerName=flightctl-api
Image=localhost/flightctl-api:latest
Pull=never
Network=flightctl.network
EnvironmentFile=/etc/flightctl/flightctl-api/env
Secret=flightctl-postgresql-user-password,type=env,target=DB_PASSWORD
Secret=flightctl-kv-password,type=env,target=KV_PASSWORD
Environment=DB_USER=flightctl_app


PublishPort=3443:3443
PublishPort=7443:7443
Volume=/etc/flightctl/pki:/root/.flightctl/certs:rw,z
Volume=/etc/flightctl/flightctl-api/config.yaml:/root/.flightctl/config.yaml:ro,z
# Persist user database across container restarts using named volumes
Volume=flightctl-api-passwd:/etc/passwd
Volume=flightctl-api-shadow:/etc/shadow
Volume=flightctl-api-group:/etc/group

Ulimit=nofile=300000:300000

[Service]
Restart=always
RestartSec=30
LimitNOFILE=300000

[Install]
WantedBy=flightctl.target
