[Unit]
Description=Flight Control API Initialization
PartOf=flightctl.target
After=flightctl-certs-init.service
Wants=flightctl-certs-init.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=-/usr/bin/env PATH=%D/flightctl/bin:/usr/bin:/bin flightctl-standalone aap create-oauth-application --config %E/flightctl/service-config.yaml --output-file %E/flightctl/pki/aap-client-id --ca-cert-file %E/flightctl/pki/auth/ca.crt
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=flightctl.target
