[Unit]
Description=Flight Control API server
PartOf=flightctl.target
After=flightctl-db-wait.service flightctl-db-migrate.service flightctl-kv.service flightctl-api-init.service
Wants=flightctl-db-wait.service flightctl-db-migrate.service flightctl-kv.service flightctl-api-init.service

[Container]
ContainerName=flightctl-api
Image={{ .Api.Image }}:{{ .Api.Tag }}
Pull=newer
Network=flightctl.network
EnvironmentFile=/etc/flightctl/flightctl-api/env
Secret=flightctl-postgresql-user-password,type=env,target=DB_PASSWORD
Secret=flightctl-kv-password,type=env,target=KV_PASSWORD
Environment=DB_USER=flightctl_app

PublishPort=3443:3443
PublishPort=7443:7443
Volume=/etc/flightctl/pki:/root/.flightctl/certs:rw,z
Volume=/etc/flightctl/flightctl-api/config.yaml:/root/.flightctl/config.yaml:ro,z

Ulimit=nofile=300000:300000

[Service]
Restart=always
RestartSec=30
LimitNOFILE=300000

ExecStartPre=/usr/bin/flightctl-ground-crew render --input-file /usr/share/flightctl/flightctl-api/config.yaml.template --output-file /etc/flightctl/flightctl-api/config.yaml
ExecStartPre=/usr/bin/flightctl-ground-crew render --input-file /usr/share/flightctl/flightctl-api/env.template --output-file /etc/flightctl/flightctl-api/env

[Install]
WantedBy=flightctl.target
