[Unit]
Description=FlightCtl Key Value service
After=flightctl-db.service
Requires=flightctl-db.service

[Container]
ContainerName=flightctl-kv
Image=docker.io/redis:7.4.1
Network=flightctl.network
Environment=HOME=/root

PublishPort=6379:6379
Volume=flightctl-redis:/var/lib/redis/data
Volume=/etc/containers/systemd/flightctl-kv/flightctl-kv-config/redis.conf:/etc/redis/redis.conf:Z

[Service]
Type=notify
Restart=always
RestartSec=30
Slice=flightctl.slice

[Install]
WantedBy=flightctl.slice