[Unit]
Description=Flight Control Key Value service
PartOf=flightctl.target

[Container]
ContainerName=flightctl-kv
Image={{ .Kv.Image }}:{{ .Kv.Tag }}
Pull=missing
Network=flightctl.network
AddHost=%H:host-gateway
{{- if contains "valkey" .Kv.Image }}
Exec=/bin/sh -c 'exec valkey-server /usr/local/etc/valkey/valkey.conf --requirepass $${KV_PASSWORD}'
Secret=flightctl-kv-password,type=env,target=KV_PASSWORD
Volume=/usr/share/flightctl/flightctl-kv/valkey.conf:/usr/local/etc/valkey/valkey.conf
{{- else }}
Exec=/bin/sh -c 'exec redis-server /usr/local/etc/redis/redis.conf --requirepass $${KV_PASSWORD}'
Secret=flightctl-kv-password,type=env,target=KV_PASSWORD
Volume=/usr/share/flightctl/flightctl-kv/redis.conf:/usr/local/etc/redis/redis.conf
{{- end }}

[Service]
ExecStartPre=/usr/share/flightctl/init_kv.sh
Type=notify
Restart=always
RestartSec=30

[Install]
WantedBy=flightctl.target
