[Unit]
Description=Flight Control Key Value service
PartOf=flightctl.target

[Container]
ContainerName=flightctl-kv
Image={{ .Kv.Image }}:{{ .Kv.Tag }}
Pull=missing
Network=flightctl.network
AddHost=%H:host-gateway
Exec=/bin/sh -c 'redis-server /usr/local/etc/redis/redis.conf --requirepass $${KV_PASSWORD}'
Secret=flightctl-kv-password,type=env,target=KV_PASSWORD
Volume=/usr/share/flightctl/flightctl-kv/redis.conf:/usr/local/etc/redis/redis.conf

[Service]
Type=notify
Restart=always
RestartSec=30

[Install]
WantedBy=flightctl.target
