[Unit]
Description=Flight Control Key Value service

[Container]
ContainerName=flightctl-kv
Image=docker.io/redis:7.4.1
Pull=missing
Exec=/bin/sh -c 'redis-server /usr/local/etc/redis/redis.conf --requirepass $${KV_PASSWORD}'
Secret=flightctl-kv-password,type=env,target=KV_PASSWORD
Volume=/usr/share/flightctl/flightctl-kv/redis.conf:/usr/local/etc/redis/redis.conf

PublishPort=6379:6379

[Service]
Type=notify
Restart=always
RestartSec=30
