USERINFO_LISTEN_PORT=8080
USERINFO_UPSTREAM_URL={{.userinfoProxy.upstreamUrl}}
USERINFO_SKIP_TLS_VERIFY={{if .userinfoProxy.insecureSkipTlsVerify}}{{.userinfoProxy.insecureSkipTlsVerify}}{{else}}false{{end}}
