{{ if .Values.ui.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: flightctl-ui
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "flightctl.standardLabels" . | nindent 4 }}
data:
  FLIGHTCTL_SERVER: https://flightctl-api:3443/
  FLIGHTCTL_SERVER_EXTERNAL: {{ include "flightctl.getApiUrl" . }}
  {{- if .Values.cliArtifacts.enabled }}
  FLIGHTCTL_CLI_ARTIFACTS_SERVER: {{ include "flightctl.getInternalCliArtifactsUrl" . }}
  {{- end }}
  {{- if .Values.alertmanagerProxy.enabled }}
  FLIGHTCTL_ALERTMANAGER_PROXY: {{ include "flightctl.getAlertManagerProxyUrl" . }}
  {{- end }}
  FLIGHTCTL_SERVER_INSECURE_SKIP_VERIFY: {{ .Values.ui.api.insecureSkipTlsVerify | quote }}
  IS_RHEM: {{ .Values.ui.isRHEM | quote }}
  ORGANIZATIONS_ENABLED: {{ if and (default false ((.Values.global).organizations).enabled) (not (eq (.Values.global).target "acm")) }}"true"{{ else }}"false"{{ end }}
  AUTH_INSECURE_SKIP_VERIFY: {{ default ((.Values.global).auth).insecureSkipTlsVerify .Values.ui.auth.insecureSkipTlsVerify | quote }}
  AUTH_CLIENT_ID: {{ .Values.ui.auth.clientId }}
  {{- if eq (.Values.global).target "acm" }}
  K8S_RBAC_NS: {{ default .Release.Namespace .Values.global.auth.k8s.rbacNs | quote }}
  {{- end }}
  BASE_UI_URL: {{ include "flightctl.getUIUrl" . }}
  {{- if eq (.Values.global).target "standalone" }}
  {{- if eq ((.Values.global).auth).type "oidc" }}
  INTERNAL_AUTH_URL: {{ default (((.Values.global).auth).oidc).issuer .Values.ui.auth.internalAuthUrl | quote }}
  {{- else if eq ((.Values.global).auth).type "aap" }}
  INTERNAL_AUTH_URL: {{ default (((.Values.global).auth).aap).apiUrl .Values.ui.auth.internalAuthUrl | quote }}
  {{- end }}
  {{- end }}
{{ end }}
