apiVersion: v1
kind: ConfigMap
metadata:
  name: flightctl-ui
  namespace: {{ .Release.Namespace }}
data:
  FLIGHTCTL_SERVER: {{ .Values.api.url | quote }}
  {{- if .Values.cliArtifacts.enabled }}
  FLIGHTCTL_CLI_ARTIFACTS_SERVER: {{ include "flightctl.getCliArtifactsUrl" . }}
  {{- end }}
  FLIGHTCTL_SERVER_INSECURE_SKIP_VERIFY: {{ .Values.api.insecureSkipTlsVerify | quote }}
  IS_RHEM: {{ .Values.isRHEM | quote }}
  AUTH_INSECURE_SKIP_VERIFY: {{ default ((.Values.global).auth).insecureSkipTlsVerify .Values.auth.insecureSkipTlsVerify | quote }}
  AUTH_CLIENT_ID: {{ default ((.Values.global).auth).oidc.clientId .Values.auth.clientId | quote }}
  AUTH_SCOPE: {{ default ((.Values.global).auth).oidc.scope .Values.auth.scope | quote }}
  AUTH_FORCE_PKCE: {{ default ((.Values.global).auth).oidc.forcePKCE .Values.auth.forcePKCE  | quote }}
  {{- if eq (.Values.global).target "acm" }}
  K8S_RBAC_NS: {{ default .Release.Namespace .Values.global.auth.k8s.rbacNs | quote }}
  {{- else }}
  {{- if .Values.baseURL }}
  BASE_UI_URL: {{ .Values.baseURL | quote }}
  {{- else }}
  BASE_UI_URL: {{ include "flightctl.getUIUrl" . }}
  {{- end }}
  {{- if eq (.Values.global).target "standalone" }}
  {{- if eq ((.Values.global).auth).type "builtin" }}
  INTERNAL_AUTH_URL: http://keycloak:8081/realms/flightctl
  {{- else if eq ((.Values.global).auth).type "oidc" }}
  INTERNAL_AUTH_URL: {{ default (((.Values.global).auth).oidc).oidcAuthority .Values.auth.internalAuthUrl | quote }}
  {{- else if eq ((.Values.global).auth).type "aap" }}
  INTERNAL_AUTH_URL: {{ default (((.Values.global).auth).aap).apiUrl .Values.auth.internalAuthUrl | quote }}
  {{- end }}
  {{- end }}
  {{- end }}
