API_PORT=8080
BASE_UI_URL=https://{{BASE_DOMAIN}}:443
FLIGHTCTL_SERVER=https://flightctl-api:3443/
FLIGHTCTL_SERVER_INSECURE_SKIP_VERIFY=true
FLIGHTCTL_CLI_ARTIFACTS_SERVER=https://{{BASE_DOMAIN}}:8090
TLS_CERT=/app/certs/server.crt
TLS_KEY=/app/certs/server.key
AUTH_CLIENT_ID={{AUTH_CLIENT_ID}}
INTERNAL_AUTH_URL={{INTERNAL_AUTH_URL}}
AUTH_INSECURE_SKIP_VERIFY={{AUTH_INSECURE_SKIP_VERIFY}}
