API_PORT=8080
BASE_UI_URL=https://{{BASE_DOMAIN}}:8080
FLIGHTCTL_SERVER=https://flightctl-api:3443/
FLIGHTCTL_SERVER_INSECURE_SKIP_VERIFY=true
TLS_CERT={{TLS_CERT}}
TLS_KEY={{TLS_KEY}}
AUTH_CLIENT_ID={{AUTH_CLIENT_ID}}
INTERNAL_AUTH_URL={{INTERNAL_AUTH_URL}}
AUTH_INSECURE_SKIP_VERIFY={{AUTH_INSECURE_SKIP_VERIFY}}
