API_PORT=8080
BASE_UI_URL=https://{{.global.baseDomain}}:443
FLIGHTCTL_SERVER=https://flightctl-api:3443/
FLIGHTCTL_SERVER_EXTERNAL=https://{{.global.baseDomain}}:3443/
FLIGHTCTL_SERVER_INSECURE_SKIP_VERIFY=true
FLIGHTCTL_CLI_ARTIFACTS_SERVER=https://{{.global.baseDomain}}:8090
FLIGHTCTL_ALERTMANAGER_PROXY=https://flightctl-alertmanager-proxy:8443
FLIGHTCTL_IMAGEBUILDER_SERVER=https://{{.global.baseDomain}}:8445
TLS_CERT=/app/certs/server.crt
TLS_KEY=/app/certs/server.key
AUTH_INSECURE_SKIP_VERIFY={{.global.auth.insecureSkipTlsVerify}}
