global:
  nodePorts:
    registry: 5000
    gitserver: 3222
    jaegerUi: 16686
registry:
  image: quay.io/flightctl/e2eregistry:2
  route: false
  hostName: ""
gitserver:
  image: localhost/git-server:latest
jaeger:
  enabled: true
  storageType: memory
  maxTraces: 50000
  otlpEnabled: true
  logLevel: info
