name: "Code Quality"

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - 'release-*'
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  lint:
    runs-on: "ubuntu-24.04"
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v44
        with:
          since_last_remote_commit: 'true'
          files_ignore: |
            .spelling
            README.md
            docs/**
            .github/**
            examples/**
            packaging/rpm/**

      - name: Check commit message
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        run: hack/check-commits.sh

      - name: Setup all dependencies
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        uses: ./.github/actions/setup-dependencies

      - name: Check that generated files have been updated and that go.mod is tidy
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        run: |
          make generate
          make tidy
          git diff --exit-code

      - name: Running Linter
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        run: make lint
