name: "Code Quality"

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - 'release-*'
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  lint:
    runs-on: "ubuntu-24.04"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v46
        with:
          since_last_remote_commit: 'true'
          files_ignore: |
            .spelling
            README.md
            docs/**
            .github/**
            examples/**
            packaging/rpm/**

      - name: Free Disk Space (Ubuntu)
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          large-packages: true # disabling this will result in ~4.6 GB not freed, but will save 2-3 minutes of exec time

      - name: Check commit message
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        run: hack/check-commits.sh

      - name: Setup all dependencies
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        uses: ./.github/actions/setup-dependencies

      - name: Check that generated files have been updated and that go.mod is tidy
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        run: |
          make generate
          make tidy
          git diff --exit-code

      - name: Cache golangci-lint volumes
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        uses: actions/cache@v4
        with:
          path: |
            ~/.local/share/containers/storage/volumes/golangci-lint-cache
            ~/.local/share/containers/storage/volumes/go-build-cache
            ~/.local/share/containers/storage/volumes/go-mod-cache
          key: lint-cache-${{ runner.os }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            lint-cache-${{ runner.os }}-

      - name: Running Linter
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        run: make lint
