name: "E2E testing"

on:
  workflow_dispatch:
    inputs:
      label_filter:
        description: 'Ginkgo label filter expression to filter e2e tests'
        required: false
        default: 'sanity' #By default, only tests labeled with 'sanity' will run.
        type: string
  push:
    branches:
      - main
      - 'release-*'
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  # This line defines a job with the ID `check-links` that is stored within the `jobs` key.
  e2e:
    runs-on: "ubuntu-24.04"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v46
        with:
          since_last_remote_commit: 'true'
          files_ignore: |
            .spelling
            README.md
            docs/**
            .github/**
            examples/**

      - name: Free Disk Space (Ubuntu)
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false

      - name: Setup all dependencies
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        uses: ./.github/actions/setup-dependencies
        with:
          setup_kvm: yes

      - name: Create kind cluster
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        run: make cluster

      - name: Deploy the flightctl server
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        run: DISABLE_FIPS="true" make deploy

      - name: Deploy the E2E side services, registry and git
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        run: make deploy-e2e-extras

      - name: Make rpm, and agent images
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        run: |
          make e2e-agent-images

      - name: Make sure the images are owned by the runner user
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        run: |
          sudo chown -R runner:runner bin/output|| true

      - name: Run E2E Tests
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        run:  make run-e2e-test VERBOSE=true # use DEBUG_VM_CONSOLE=1 to see the VM console output
        env:
          GINKGO_LABEL_FILTER: ${{ inputs.label_filter || 'sanity' }}   # Filter to run only specific tests

      - name: Collect and Upload Logs
        if: always() && steps.changed-files.outputs.any_changed == 'true'
        uses: ./.github/actions/collect-logs
        with:
          namespace-external: 'flightctl-external'
          namespace-internal: 'flightctl-internal'
          log-directory: 'e2e-logs'
