name: "E2E testing"

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  # This line defines a job with the ID `check-links` that is stored within the `jobs` key.
  e2e:
    runs-on: "ubuntu-24.04"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            notdocs:
              - '!.spelling'
              - '!README.md'
              - '!docs/**'

      - name: Free Disk Space (Ubuntu)
        if: ${{ steps.filter.outputs.notdocs == 'true' }}
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false

      - name: Setup all dependencies
        if: ${{ steps.filter.outputs.notdocs == 'true' }}
        uses: ./.github/actions/setup-dependencies
        with:
          setup_kvm: yes

      - name: Create kind cluster
        if: ${{ steps.filter.outputs.notdocs == 'true' }}
        run: make cluster

      - name: Deploy the flightctl server
        if: ${{ steps.filter.outputs.notdocs == 'true' }}
        run: make deploy

      - name: Deploy the E2E side services, registry and git
        run: make deploy-e2e-extras

      - name: Make rpm, and agent images
        if: ${{ steps.filter.outputs.notdocs == 'true' }}
        run: |
          make e2e-agent-images

      - name: Make sure the images are owned by the runner user
        if: ${{ steps.filter.outputs.notdocs == 'true' }}
        run: |
          sudo chown -R runner:runner bin/output|| true

      - name: Run E2E Tests
        if: ${{ steps.filter.outputs.notdocs == 'true' }}
        run:  make run-e2e-test VERBOSE=true # use DEBUG_VM_CONSOLE=1 to see the VM console output
