name: "Release CLI Binaries on GH"
on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:

jobs:
  build:
    strategy: 
      matrix:
        os: [linux, darwin]
        arch: [amd64, arm64]
    env:
      NAME: flightctl-${{ matrix.os }}-${{ matrix.arch }}
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Build"
        env:
          GOARCH: ${{ matrix.arch }}
          GOOS: ${{ matrix.os }}
        run: |       
          make build-cli
          SHA=$(sha256sum bin | awk '{ print $1 }')
          echo $SHA > ${{ env.NAME }}-sha256.txt
          tar cvf ${{ env.NAME }}.tar.gz  bin
          mv bin ${{ env.NAME }}

      - name: "Save tar binary"
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.NAME }}.tar.gz
          path: ${{ env.NAME }}.tar.gz
      
      - name: "Save binary"
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.NAME }}
          path: ${{ env.NAME }}
    
      - name: "Save checksum"
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.NAME }}-sha256.txt
          path: ${{ env.NAME }}-sha256.txt

  verify:
    strategy:
      matrix:
        env: 
          - runner: ubuntu-latest
            build: linux-amd64
          - runner: macos-latest
            build: darwin-arm64
    runs-on: ${{ matrix.env.runner }}
    needs: [build]
    
    steps: 
      - name: "Load binary"
        uses: actions/download-artifact@v4
        with:
          name: flightctl-${{ matrix.env.build }}

      - name: "Verify"
        run: |
          chmod +x flightctl-${{ matrix.env.build }}
          ./flightctl-${{ matrix.env.build }} version
          exit $?

  publish:
    if: ${{ github.event_name != 'pull_request' }}
    runs-on: ubuntu-latest
    needs: [verify]
    permissions:
      contents: write

    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Load binary archives"
        uses: actions/download-artifact@v4
        with:
          merge-multiple: true
          path: release

      - name: "Publish"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          OLD_RELEASE=$(gh release list | awk '/^latest\s/ { print $1 }')
          if [ $OLD_RELEASE ]; then
            gh release delete $OLD_RELEASE
          fi
          OLD_TAG=$(git tag | awk '/^latest\s/ { print $1 }')
          if [ $OLD_TAG ]; then
            git push --delete origin $OLD_TAG
          fi
          
          gh release create -p \
            -n "Flightctl CLI pre-release" \
            -t "latest: $(git describe --always)" \
            latest \
            release/*

