name: Close stale PRs

on:
  schedule:
    - cron: "0 1 * * *"  # Run daily
  workflow_dispatch:

permissions:
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v10
        with:
          days-before-stale: 30
          days-before-close: 7
          stale-pr-message: "This pull request has been inactive for 30 days and will be closed if no further activity occurs."
          close-pr-message: "Closing this PR due to inactivity. Please reopen if needed."
          exempt-pr-labels: "do-not-close"
          operations-per-run: 200