name: "Unit tests"
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - 'release-*'
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

permissions:
  contents: read
  pull-requests: read

jobs:
  unit-tests:
    runs-on: "ubuntu-24.04"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            notdocs:
              - '!.spelling'
              - '!README.md'
              - '!docs/**'

      - name: Setup all dependencies
        if: ${{ steps.filter.outputs.notdocs == 'true' }}
        uses: ./.github/actions/setup-dependencies
        with:
          unit_tests: 'true'

      - name: Running Unit tests
        if: ${{ steps.filter.outputs.notdocs == 'true' }}
        run: make unit-test
