name: "Unit tests"
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - 'release-*'
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  unit-tests:
    runs-on: "ubuntu-24.04"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v46
        with:
          since_last_remote_commit: 'true'
          files_ignore: |
            .spelling
            README.md
            docs/**
            .github/**
            examples/**
            packaging/rpm/**

      - name: Setup all dependencies
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        uses: ./.github/actions/setup-dependencies
        with:
          unit_tests: 'true'

      - name: Running Unit tests
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        run: make unit-test
        env:
          DISABLE_FIPS: "true"
