HOME=/root
FLIGHTCTL_DISABLE_AUTH={{FLIGHTCTL_DISABLE_AUTH}}
RATE_LIMIT_REQUESTS={{RATE_LIMIT_REQUESTS}}
RATE_LIMIT_WINDOW={{RATE_LIMIT_WINDOW}}
AUTH_RATE_LIMIT_REQUESTS={{AUTH_RATE_LIMIT_REQUESTS}}
AUTH_RATE_LIMIT_WINDOW={{AUTH_RATE_LIMIT_WINDOW}}
