HOME=/root
FLIGHTCTL_DISABLE_AUTH={{if or (not .global.auth.type) (eq .global.auth.type "none")}}true{{end}}
RATE_LIMIT_REQUESTS={{.service.rateLimit.requests}}
RATE_LIMIT_WINDOW={{.service.rateLimit.window}}
AUTH_RATE_LIMIT_REQUESTS={{.service.rateLimit.authRequests}}
AUTH_RATE_LIMIT_WINDOW={{.service.rateLimit.authWindow}}
